data/jats/publishing/JATS-oasis-tablesetup1.ent.rng

<?xml version="1.0" encoding="UTF-8"?>
<!-- ============================================================= -->
<!-- MODULE:    Namespaced OASIS XML Table Setup Module -->
<!-- VERSION:   ANSI/NISO JATS Version 1.1 (Z39.96-2015) -->
<!-- DATE:      December 2015 -->
<!---->
<!-- ============================================================= -->
<!-- ============================================================= -->
<!-- PUBLIC DOCUMENT TYPE DEFINITION -->
<!-- TYPICAL INVOCATION -->
<!--
  "-//NLM//DTD JATS (Z39.96) Namespaced OASIS XML Table Setup Module v1.1 20151215//EN"
       Delivered as file "JATS-oasis-tablesetup1.ent"
-->
<!-- ============================================================= -->
<!-- ============================================================= -->
<!-- SYSTEM:    OASIS-Table Version of the JATS DTD Suite -->
<!---->
<!-- PURPOSE:    Provides the organization for using the -->
<!-- OASIS Open exchange CALS table model (XML -->
<!-- version) -->
<!---->
<!-- MODULES REQUIRED: -->
<!-- 1) %oasis-exchange.ent;  OASIS exchange table -->
<!-- model (XML version) -->
<!---->
<!-- TAG SET SPONSOR -->
<!-- National Center for Biotechnology -->
<!-- Information (NCBI) -->
<!-- National Library of Medicine (NLM) -->
<!---->
<!-- CREATED FOR: -->
<!-- This module was created for the JATS DTD Suite. -->
<!-- Digital archives and publishers may use the -->
<!-- DTD as is for markup of journal literature or -->
<!-- related material for archiving and transferring -->
<!-- such material between archives or create a -->
<!-- custom XML DTD from the Suite for -->
<!-- these purposes. -->
<!---->
<!-- This DTD is in the public domain. An organization -->
<!-- that wishes to create its own DTD from the suite -->
<!-- may do so without permission from NLM. -->
<!---->
<!-- The suite has been set up to be extended using a -->
<!-- new DTD file and a new DTD-specific customization -->
<!-- module to redefine the many Parameter Entities. -->
<!-- Do not modify the suite directly or redistribute -->
<!-- modified versions of the suite. -->
<!---->
<!-- In the interest of maintaining consistency and -->
<!-- clarity for potential users, NLM requests: -->
<!---->
<!-- 1. If you create a DTD from the JATS DTD Suite -->
<!-- and intend to stay compatible with the suite, -->
<!-- then please include the following statement -->
<!-- as a comment in all of your DTD modules: -->
<!-- "Created from, and fully compatible with, -->
<!-- the ANSI/NISO Z39.96 Journal Article Tag -->
<!-- Suite (JATS)." -->
<!---->
<!-- 2. If you alter one or more modules of the suite, -->
<!-- then please rename your version and all its -->
<!-- modules to avoid any confusion with the -->
<!-- original suite. Also, please include the -->
<!-- following statement as a comment in all your -->
<!-- DTD modules: -->
<!-- "Based in part on, but not fully compatible -->
<!-- with, the ANSI/NISO Z39.96 Journal Article -->
<!-- Tag Suite (JATS)." -->
<!---->
<!-- ORIGINAL CREATION DATE: -->
<!-- March 2007 -->
<!---->
<!-- CREATED BY: Mulberry Technologies, Inc. for the NISO Z39.96 -->
<!-- Working Group. Mulberry Technologies was -->
<!-- supported by National Center for Biotechnology -->
<!-- Information (NCBI), a center of the US National -->
<!-- Library of Medicine (NLM). -->
<!---->
<!-- The Journal Publishing DTD is built from the -->
<!-- Archiving and Interchange DTD Suite. -->
<!---->
<!-- Suggestions for refinements and enhancements to -->
<!-- this DTD should be sent in email to: -->
<!-- jats@ncbi.nlm.nih.gov -->
<!-- ============================================================= -->
<!-- ============================================================= -->
<!-- DTD VERSION/CHANGE HISTORY -->
<!-- ============================================================= -->
<!--
  Version  Reason/Occasion                   (who) vx.x (yyyy-mm-dd)
       =============================================================
       JATS Version 1.1                (DAL/BTU) v1.1  (2015-12-15)
  
       JATS is a continuing maintenance NISO Standard, which
       requires voting by the ANSI and NISO memberships to be changed. 
       JATS 1.1 was approved in late 2015, so the formal public 
       identifiers were changed in the modules and the catalogs.
       No model or attribute changes were made at this time. 
  
   10. JATS became version "1.1" and "v1.1 20151215"
  
       =============================================================
       JATS Version 1.1d3             (DAL/BTU) v1.1d3  (2015-03-01)
  
       The changes in this release are in response to NISO 
       License and Indicators Recommended Practice.
  
       NISO JATS is a continuing maintenance NISO Standard, which 
       requires voting by the NISO membership to be changed. This
       Committee Draft 1.1d3 will be sent to the NISO voting
       membership, to become (if approved) NISO JATS 1.1.
  
       This draft DTD represents an interim version of the
       non-normative JATS DTD Suite, as an indication to JATS users
       the decisions that have been made by the JATS Standing
       Committee.
  
    9. JATS became version "1.1d3" and "v1.1 20150301//EN"
  
       =============================================================
       JATS Version 1.1d2              (DAL/BTU) v1.1d2 (2014-09-30)
  
       NISO JATS is a continuing maintenance NISO Standard, which 
       requires voting by the NISO membership to be changed. This
       Committee Draft 1.1d2 will be sent to the NISO voting
       membership, to become (if approved) NISO JATS 1.1.
  
       This catalog represents an interim version of the
       non-normative JATS DTD Suite, as an indication to JATS users
       the decisions that have been made by the JATS Standing
       Committee.
  
    8. TABLE ATTRIBUTES - Added @specific-use to the attributes for
       <oasis:table>, primarily for use when <oasis:table> is used
       inside <alternatives>.
  
    7. JATS became version "1.1d2" and "v1.1d2 20140930//EN"
  
       =============================================================
       NISO JATS Version 1.1d1           (DAL/BTU) v1.1 (2013-11-15)
  
       ANSI/NISO Z39.96-2012 (pre-release for V1.0 BITS; Version 1.1d1) 
  
       NISO JATS Standing Committee met and answered the requests and
       suggestions from the NISO request forms.
  
       Details concerning ANSI/NISO Z39.96-2012 JATS-based DTDs,  
       XSDs, RNGs and supporting documentation are available at
             http://jats.nlm.nih.gov/1.0/
  
    6. GLOBAL ATTRIBUTES - Added the new parameter entity 
          "%jats-common-atts;
       to every element in this module. This PE adds (for now) the
       @id attribute and the @xml:base attribute to every element,
       whether metadata or narrative.
       Since the @id in this parameter entity is optional, a second
       parameter entity jats-common-atts-id-required was also added.
       The two are kept in sync with the jats-base-atts parameter 
       entity.
       This added a new (to JATS) additive attribute list to:
       - tbl.colspec
       - tbl.entry
       - tbl.row.att
       - tbl.tbody
       - tbl.tgroup
       - tbl.thead
  
       =============================================================
       NISO JATS Version 1.0             (DAL/BTU) v1.0 (2012-xx-xx)
  
       ANSI/NISO Z39.96-2012 (Version 1.0) 
  
       Details concerning ANSI/NISO Z39.96-2012 JATS-based DTDs,  
       XSDs, RNGs and supporting documentation are available at
             http://jats.nlm.nih.gov/1.0/
  
    5. OASIS NAMESPACE - The Working Group requested the ability to
       remove the OASIS namespace prefix by changing a single 
       parameter entity. The Working Group also decided that the
       namespace itself should be preserved for the OASIS table model.
        - Replaced the names of all the OASIS table elements (in this
          module and the classes module) with parameter entities that
          name the QName of the element. (The entities would have
          been named as "table.qname" following the pattern used by
          MathML, XHTML, DocBook, et al., but due to name clashes
          with the XHTML parameter entities forced these to be
          different, and an "o" was prefixed to each :
          "otable.qname", "otbody.qname", etc.
        - Set up the OASIS namespace prefix (using several parameter
          entities to build the namespace in parts) in a new module
          called JATS-oasis-namespace1.ent.
  
    4. Updated the DTD-version attribute to "1.0" and the formal
       public identifier to the date: "v1.0 20120330//EN".
  
       =============================================================
       Version 0.4                       (DAL/BTU) v0.4 (2011-01-31)
  
       This Tag Set is in the process of becoming a NISO standard.
       The version numbers are starting over from 0.4", as a Trial
       Use Draft, to be made into "Version 1.0" when the Tag Suite 
       becomes a NISO standard. Thus, the version number that would
       have been "NLM Version 3.1 Draft" has become NISO JATS
       "Version 0.4".
  
       Details on NISO Trial Use Draft Version 0.4 are available at
             http://jats.nlm.nih.gov/JATS-0.4.
  
    3. Updated the DTD-version attribute to "0.4" 
  
    2. Updated the public identifier to "v0.4 20110131", 
       modified the formal public identifier to include "JATS (Z39.96)",
       and the filename as delivered to include "JATS" and the
       new version number "0".
             http://jats.nlm.nih.gov/0.4.
  
       =============================================================
       Version 3.0                       (DAL/BTU) v3.0 (2007-10-31)
  
       Version 3.0 is the first non-backward-compatible release.
       In addition to the usual incremental changes, some
       elements and attributes have been renamed and/or remodeled
       to better meet user needs and to increase tag set consistency.
       All module change histories are available through the Tag Suite
       web site at http://dtd.nlm.nih.gov.
  
       Details on version 3.0 are available at
             http://dtd.nlm.nih.gov/3.0.
  
    1. Updated public identifier to "v3.0 20080202//EN"
-->
<!-- ============================================================= -->
<!--
  Details concerning 
  ANSI/NISO Z39.96-2015 JATS-based DTDs, XSDs, 
  RNGs and supporting documentation are available at
        http://jats.nlm.nih.gov/1.1/
-->
<!-- ============================================================= -->
<!-- SET UP FOR THE PUBLIC TABLE MODULE -->
<!-- ============================================================= -->
<!-- OVER-RIDES FOR STANDARD PARAMETER ENTITIES -->
<!--
  In order to use the OASIS-OPEN (CALS)
                     Exchange table model, various Parameter
                     ENTITY declarations are required.  Brief
                     descriptions of the Parameter Entities in
                     the exchange table model that this module
                     will over-ride are given below:
                     (adapted from the Exchange module itself)
  
  ENTITY NAME        WHERE USED       WHAT IT IS
  
  %yesorno           In ATTLIST of:   An attribute declared
                     almost all       value for a "boolean"
                     table elements   attribute
  
  %titles            In content of:    The "title" part of the
                     table element     table model has been set
                                       to the empty string,
                                       since the title is in the
                                       Table Wrapper element
  
  %tbl.table-titles.mdl
                     In content of:    The model group for the
                     table elements    "title" part of the
                                       content model for table
                                       element
  
  %paracon           In content of:    The "text" (logical
                     <entry>           content) of the model for
                                       <entry>
  
  %tbl.table.att     In ATTLIST of:    Additional attributes on
                     table element     the table element
  
  %tbl.entry.att     In ATTLIST of:    Additional attributes on
                     <entry>           the <entry> element
-->
<!-- ============================================================= -->
<!-- PARAMETER ENTITIES FOR QUALIFIED NAMES -->
<!-- ============================================================= -->
<!-- TABLE ELEMENT NAME -->
<!-- ============================================================= -->
<!-- PARAMETER ENTITY FOR ATTRIBUTES -->
<!-- ============================================================= -->
<!-- YES OR NO -->
<!--
  The boolean value, "0" to indicate "no",
  any other number, usually "1", to indicate
  "yes"
-->
<grammar xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <define name="yesorno">
    <data type="NMTOKEN"/>
  </define>
  <!-- TABLE ATTRIBUTES -->
  <!-- Additional attributes on the table element -->
  <define name="tbl.table.att">
    <ref name="oasis.xmlns.attrib"/>
    <ref name="jats-common-atts"/>
    <optional>
      <attribute name="specific-use"/>
    </optional>
    <optional>
      <attribute name="content-type"/>
    </optional>
  </define>
  <!-- TABLE ENTRY ATTRIBUTES -->
  <!--
    Additional attributes on the table entry
    element, that is, attributes for a table
    cell
  -->
  <define name="tbl.entry.att">
    <ref name="jats-common-atts"/>
  </define>
  <!-- TABLE GROUP ATTRIBUTES -->
  <!--                     Additional attributes on the tgroup element -->
  <define name="tbl.tgroup.att">
    <ref name="jats-common-atts"/>
  </define>
  <!-- TABLE HEAD ATTRIBUTES -->
  <!-- Additional attributes on the thead element -->
  <define name="tbl.thead.att">
    <ref name="jats-common-atts"/>
  </define>
  <!-- TABLE BODY ATTRIBUTES -->
  <!-- Additional attributes on the tbody element -->
  <define name="tbl.tbody.att">
    <ref name="jats-common-atts"/>
  </define>
  <!-- COLUMN SPECIFICATION ATTRIBUTES -->
  <!--
    Additional attributes on the colspec 
    element
  -->
  <define name="tbl.colspec.att">
    <ref name="jats-common-atts"/>
  </define>
  <!-- TABLE ROW ATTRIBUTES -->
  <!-- Additional attributes on the row element -->
  <define name="tbl.row.att">
    <ref name="jats-common-atts"/>
  </define>
  <!-- ============================================================= -->
  <!-- PARAMETER ENTITIES FOR CONTENT MODELS -->
  <!-- ============================================================= -->
  <!-- TITLE OF THE TABLE -->
  <!--
    The "title" part of the table element has
    been set to the empty string, since the
    title is contained within the Table
    Wrapper element
  -->
  <define name="tbl.table-titles.mdl">
    <notAllowed/>
  </define>
  <!-- CONTENTS OF AN ENTRY (TABLE CELL) -->
  <!--
    Names all the elements that may occur
    inside a table cell (<entry>)
  -->
  <define name="paracon">
    <choice>
      <text/>
      <ref name="inside-cell"/>
    </choice>
  </define>
  <!-- CONTENTS OF TABLE -->
  <!--
    Names all the elements that may occur
    inside a table (<table>)
  -->
  <define name="tbl.table-main.mdl">
    <oneOrMore>
      <ref name="oasis.tgroup"/>
    </oneOrMore>
  </define>
  <!-- CONTENTS OF TABLE GROUP (ORIGINAL OASIS) -->
  <!--
    Names all the elements that may occur
    inside a Table Group (<tgroup>)
  -->
  <define name="tbl.tgroup.mdl">
    <zeroOrMore>
      <ref name="oasis.colspec"/>
    </zeroOrMore>
    <optional>
      <ref name="oasis.thead"/>
    </optional>
    <ref name="oasis.tbody"/>
  </define>
  <!-- CONTENTS OF TABLE ROW -->
  <!--
    Names all the elements that may occur
    inside a Table Row (<row>)
  -->
  <define name="tbl.row.mdl">
    <oneOrMore>
      <ref name="oasis.entry"/>
    </oneOrMore>
  </define>
  <!-- ============================================================= -->
  <!-- THE OASIS CALS TABLE INVOCATION -->
  <!-- ============================================================= -->
  <!-- OASIS XML TABLE MODEL -->
  <!--
    ENTITY % oasis-exchange.ent PUBLIC
    "-//OASIS//DTD XML Exchange Table Model 19990315//EN"
  -->
  <include href="oasis-exchange.ent.rng"/>
</grammar>
<!-- ================== End OASIS Table Setup Module ============= -->
