data/jats/archiving/JATS-format1.ent.rng

<?xml version="1.0" encoding="UTF-8"?>
<!-- ============================================================= -->
<!-- MODULE:    Formatting Element Classes -->
<!-- VERSION:   ANSI/NISO JATS Version 1.1 (Z39.96-2015) -->
<!-- DATE:      December 2015 -->
<!---->
<!-- ============================================================= -->
<!-- ============================================================= -->
<!-- PUBLIC DOCUMENT TYPE DEFINITION -->
<!-- TYPICAL INVOCATION -->
<!--
  "-//NLM//DTD JATS (Z39.96) JATS DTD Suite Formatting Element Classes v1.1 20151215//EN"
   Delivered as file "JATS-format1.ent"
-->
<!-- ============================================================= -->
<!-- ============================================================= -->
<!-- SYSTEM:     JATS DTD Suite -->
<!---->
<!-- PURPOSE:    Elements concerned with rendition of output, for -->
<!-- example printing on a page or display on a screen -->
<!---->
<!-- TAG SET SPONSOR -->
<!-- National Center for Biotechnology -->
<!-- Information (NCBI) -->
<!-- National Library of Medicine (NLM) -->
<!---->
<!-- CREATED FOR: -->
<!-- This module was created for the JATS DTD Suite. -->
<!-- Digital archives and publishers may use the -->
<!-- DTD as is for markup of journal literature or -->
<!-- related material for archiving and transferring -->
<!-- such material between archives or create a -->
<!-- custom XML DTD from the Suite for -->
<!-- these purposes. -->
<!---->
<!-- This DTD is in the public domain. An organization -->
<!-- that wishes to create its own DTD from the suite -->
<!-- may do so without permission from NLM. -->
<!---->
<!-- The suite has been set up to be extended using a -->
<!-- new DTD file and a new DTD-specific customization -->
<!-- module to redefine the many Parameter Entities. -->
<!-- Do not modify the suite directly or redistribute -->
<!-- modified versions of the suite. -->
<!---->
<!-- In the interest of maintaining consistency and -->
<!-- clarity for potential users, NLM requests: -->
<!---->
<!-- 1. If you create a DTD from the JATS DTD Suite -->
<!-- and intend to stay compatible with the suite, -->
<!-- then please include the following statement -->
<!-- as a comment in all of your DTD modules: -->
<!-- "Created from, and fully compatible with, -->
<!-- the ANSI/NISO Z39.96 Journal Article Tag -->
<!-- Suite (JATS)." -->
<!---->
<!-- 2. If you alter one or more modules of the suite, -->
<!-- then please rename your version and all its -->
<!-- modules to avoid any confusion with the -->
<!-- original suite. Also, please include the -->
<!-- following statement as a comment in all your -->
<!-- DTD modules: -->
<!-- "Based in part on, but not fully compatible -->
<!-- with, the ANSI/NISO Z39.96 Journal Article -->
<!-- Tag Suite (JATS)." -->
<!---->
<!-- ORIGINAL CREATION DATE: -->
<!-- December 2002 -->
<!---->
<!-- CREATED BY: Mulberry Technologies, Inc. for the NISO Z39.96 -->
<!-- Working Group. Mulberry Technologies was -->
<!-- supported by National Center for Biotechnology -->
<!-- Information (NCBI), a center of the US National -->
<!-- Library of Medicine (NLM). -->
<!---->
<!-- This module is part of the JATS DTD Suite. The -->
<!-- Suite is a continuation of work done by NCBI, -->
<!-- Mulberry Technologies, and Inera, Inc. on the NLM -->
<!--              Journal Archiving and Interchange DTD Suite, which -->
<!-- was originally released in December, 2002. -->
<!---->
<!-- NLM thanks the Harvard University Libraries, both -->
<!-- for proposing that a draft archiving NLM DTD for -->
<!-- life sciences journals be extended to accommodate -->
<!-- journals in all disciplines and for sponsoring -->
<!-- Inera Inc.'s collaboration with other DTD -->
<!-- authors in completing NLM Version 1.0. The -->
<!-- Andrew W. Mellon Foundation provided support for -->
<!-- these important contributions. -->
<!---->
<!-- Suggestions for refinements and enhancements to -->
<!-- this DTD should be sent in email to: -->
<!-- jats@ncbi.nlm.nih.gov -->
<!-- ============================================================= -->
<!-- ============================================================= -->
<!-- DTD VERSION/CHANGE HISTORY -->
<!-- ============================================================= -->
<!--
  Version  Reason/Occasion                   (who) vx.x (yyyy-mm-dd)
       =============================================================
       JATS Version 1.1                (DAL/BTU) v1.1  (2015-12-15)
  
       JATS is a continuing maintenance NISO Standard, which
       requires voting by the ANSI and NISO memberships to be changed. 
       JATS 1.1 was approved in late 2015, so the formal public 
       identifiers were changed in the modules and the catalogs.
       No model or attribute changes were made at this time. 
  
   14. JATS became version "1.1" and "v1.1 20151215"
  
       =============================================================
       JATS Version 1.1d3             (DAL/BTU) v1.1d3  (2015-03-01)
  
       The changes in this release are in response to NISO 
       License and Indicators Recommended Practice.
  
       NISO JATS is a continuing maintenance NISO Standard, which 
       requires voting by the NISO membership to be changed. This
       Committee Draft 1.1d3 will be sent to the NISO voting
       membership, to become (if approved) NISO JATS 1.1.
  
       This draft DTD represents an interim version of the
       non-normative JATS DTD Suite, as an indication to JATS users
       the decisions that have been made by the JATS Standing
       Committee.
  
   13. JATS became version "1.1d3" and "v1.1 20150301//EN"
  
       =============================================================
       JATS Version 1.1d2              (DAL/BTU) v1.1d2 (2014-09-30)
  
       NISO JATS is a continuing maintenance NISO Standard, which 
       requires voting by the NISO membership to be changed. This
       Committee Draft 1.1d2 will be sent to the NISO voting
       membership, to become (if approved) NISO JATS 1.1.
  
       This catalog represents an interim version of the
       non-normative JATS DTD Suite, as an indication to JATS users
       the decisions that have been made by the JATS Standing
       Committee.
  
    12. RUBY MODEL CHANGED TO MATCH HTML5
        - changed the Ruby content model to allow only a single
          Ruby annotation on a single Ruby base:
              (rb, rt+)
          The Ruby textual annotation may NOT take a pair of
          Ruby parentheses. This is a simplification of the
          HTML5 model:
             (rb, (rt | (rp, rt, rp)) )
          The simplification does not allow Ruby parenthesis.
          Archiving and BITS both use the full model above.
  
    11. JATS became version "1.1d2" and "v1.1d2 20140930//EN"
  
       =============================================================
       NISO JATS Version 1.1d1           (DAL/BTU) v1.1 (2013-11-15)
  
       ANSI/NISO Z39.96-2012 (pre-release for V1.0 BITS; Version 1.1d1) 
  
       NISO JATS Standing Committee met and answered the requests and
       suggestions from the NISO request forms.
  
       Details concerning ANSI/NISO Z39.96-2012 JATS-based DTDs,  
       XSDs, RNGs and supporting documentation are available at
             http://jats.nlm.nih.gov/1.0/
  
   10. RUBY ANNOTATIONS - Added new elements for:
        - <ruby> The Ruby wrapper element, which contains the base
            text and the annotation.
        - <rb> Ruby Base text, acts in the same manner as face markup,
          surrounding some text in the narrative.
        - <rt> Ruby Text, the annotation that modifies a piece of
           the narrative text, frequently typeset above the text.
  
    9. GLOBAL ATTRIBUTES - Added the new parameter entity 
           %jats-common-atts;
       to every element in this module. This PE adds (for now) the
       @id attribute and the @xml:base attribute to every element,
       whether metadata or narrative.
       Since the @id in this parameter entity is optional, a second
       parameter entity jats-common-atts-id-required was also added.
       The two are kept in sync with the jats-base-atts parameter 
       entity.
       This added a new attribute list to:
        - break 
        - hr      
        - rp               
  
    8. ADDED NEW ELEMENT <fixed-case> 
       - defined as meaning that the case of the content is not to
         change, even if the content around it is styled to all
         upper case or all lower. For example "PhD".
  
    7. ADDED NEW ATTRIBUTE - @toggle added to:
       - bold, italic (default="yes"), monospace, overline, 
         roman (default="no"), sans-serif, sc, strike, and underline.
  
       =============================================================
       NISO JATS Version 1.0             (DAL/BTU) v1.0 (2012-xx-xx)
  
       ANSI/NISO Z39.96-2012 (Version 1.0) 
  
       Details concerning ANSI/NISO Z39.96-2012 JATS-based DTDs,  
       XSDs, RNGs and supporting documentation are available at
             http://jats.nlm.nih.gov/1.0/
  
    6. Updated the DTD-version attribute to "1.0" and the formal
       public identifier to the date: "v1.0 20120330//EN".
  
       =============================================================
       Version 0.4                       (DAL/BTU) v0.4 (2011-01-31)
  
       This Tag Set is in the process of becoming a NISO standard.
       The version numbers are starting over from 0.4", as a Trial
       Use Draft, to be made into "Version 1.0" when the Tag Suite 
       becomes a NISO standard. Thus, the version number that would
       have been "NLM Version 3.1 Draft" has become NISO JATS
       "Version 0.4".
  
       Details on NISO Trial Use Draft Version 0.4 are available at
             http://jats.nlm.nih.gov/JATS-0.4.
  
    5. Updated the DTD-version attribute to "0.4" 
  
    4. Updated the public identifier to "v0.4 20110131", 
       modified the formal public identifier to include "JATS (Z39.96)",
       and the filename as delivered to include "JATS" and the
       new version number "0".
             http://jats.nlm.nih.gov/0.4.
  
    3. @SPECIAL-USE - Added the attribute @special-use to the
       all 14 formatting (emphasis) elements. This includes all the
       ones listed in 2. below as well as:
         - sub             sub-atts  
         - sup             sup-atts
         - overline        overline-atts
         - overline-start  overline-start-atts
         - overline-end    overline-start-atts
         - underline       underline-atts
         - underline-start underline-start-atts
         - underline-end   underline-end-atts
  
    2. PEs FOR ATTLISTS - Added parameter entity redefinitions for the
       attribute lists of the following elements: (no attributes or
       values were changed)
         - bold            bold-atts       NEW PE
         - italic          italic-atts     NEW PE
         - monospace       monospace-atts  NEW PE
         - roman           roman-atts      NEW PE
         - sans-serif      sans-serif-atts NEW PE
         - sc              sc-atts         NEW PE
         - strike          strike-atts     NEW PE
  
       =============================================================
       Version 3.0                       (DAL/BTU) v3.0 (2007-10-31)
  
       Version 3.0 is the first non-backward-compatible release.
       In addition to the usual incremental changes, some
       elements and attributes have been renamed and/or remodeled
       to better meet user needs and to increase tag set consistency.
       All module change histories are available through the Tag Suite
       web site at http://dtd.nlm.nih.gov.
  
       Details on version 3.0 are available at
             http://dtd.nlm.nih.gov/3.0.
  
    1. Updated public identifier to "v3.0 20080202//EN"
-->
<!-- ============================================================= -->
<!--
  Details concerning 
  ANSI/NISO Z39.96-2015 JATS-based DTDs, XSDs, 
  RNGs and supporting documentation are available at
        http://jats.nlm.nih.gov/1.1/
-->
<!-- ============================================================= -->
<!-- PARAMETER ENTITIES FOR ATTRIBUTE LISTS -->
<!-- ============================================================= -->
<!-- BOLD ATTRIBUTES -->
<!-- Attributes for the <bold> element -->
<grammar xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <define name="bold-atts">
    <ref name="jats-common-atts"/>
    <optional>
      <attribute name="toggle">
        <choice>
          <value>yes</value>
          <value>no</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="specific-use"/>
    </optional>
  </define>
  <!-- BREAK ATTRIBUTES -->
  <!-- Attributes for the <break> element -->
  <define name="break-atts">
    <ref name="jats-common-atts"/>
  </define>
  <!-- FIXED CASE ATTRIBUTES -->
  <!-- Attributes for the <fixed-case> element -->
  <define name="fixed-case-atts">
    <ref name="jats-common-atts"/>
    <optional>
      <attribute name="content-type"/>
    </optional>
    <optional>
      <attribute name="specific-use"/>
    </optional>
  </define>
  <!-- HORIZONTAL RULE ATTRIBUTES -->
  <!-- Attributes for the <hr> element -->
  <define name="hr-atts">
    <ref name="jats-common-atts"/>
  </define>
  <!-- ITALIC ATTRIBUTES -->
  <!-- Attributes for the <italic> element -->
  <define name="italic-atts">
    <ref name="jats-common-atts"/>
    <optional>
      <attribute name="toggle" a:defaultValue="yes">
        <choice>
          <value>yes</value>
          <value>no</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="specific-use"/>
    </optional>
  </define>
  <!-- MONOSPACE ATTRIBUTES -->
  <!-- Attributes for the <bold> element -->
  <define name="monospace-atts">
    <ref name="jats-common-atts"/>
    <optional>
      <attribute name="toggle">
        <choice>
          <value>yes</value>
          <value>no</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="specific-use"/>
    </optional>
  </define>
  <!-- OVERLINE START ATTRIBUTES -->
  <!-- Attributes for the <overline> element -->
  <define name="overline-atts">
    <ref name="jats-common-atts"/>
    <optional>
      <attribute name="toggle">
        <choice>
          <value>yes</value>
          <value>no</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="specific-use"/>
    </optional>
  </define>
  <!-- OVERLINE START ATTRIBUTES -->
  <!--                     Attributes for the <overline-start> element -->
  <define name="overline-start-atts">
    <ref name="jats-common-atts-id-required"/>
    <optional>
      <attribute name="specific-use"/>
    </optional>
  </define>
  <!-- OVERLINE END ATTRIBUTES -->
  <!-- Attributes for the <overline-end> element -->
  <define name="overline-end-atts">
    <ref name="jats-common-atts"/>
    <attribute name="rid">
      <data type="IDREF"/>
    </attribute>
    <optional>
      <attribute name="specific-use"/>
    </optional>
  </define>
  <!-- ROMAN ATTRIBUTES -->
  <!-- Attributes for the <roman> element -->
  <define name="roman-atts">
    <ref name="jats-common-atts"/>
    <optional>
      <attribute name="toggle" a:defaultValue="no">
        <choice>
          <value>yes</value>
          <value>no</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="specific-use"/>
    </optional>
  </define>
  <!-- RUBY BASE ATTRIBUTES -->
  <!-- Attributes for the <rb> element -->
  <define name="rb-atts">
    <ref name="jats-common-atts"/>
    <optional>
      <attribute name="content-type"/>
    </optional>
    <optional>
      <attribute name="specific-use"/>
    </optional>
    <optional>
      <attribute name="xml:lang">
        <data type="NMTOKEN"/>
      </attribute>
    </optional>
  </define>
  <!-- RUBY PARENTHESIS ATTRIBUTES -->
  <!-- Attributes for the <rp> element -->
  <define name="rp-atts">
    <ref name="jats-common-atts"/>
  </define>
  <!-- RUBY TEXTUAL ANNOTATION ATTRIBUTES -->
  <!-- Attributes for the <rt> element -->
  <define name="rt-atts">
    <ref name="jats-common-atts"/>
    <optional>
      <attribute name="content-type"/>
    </optional>
    <optional>
      <attribute name="specific-use"/>
    </optional>
    <optional>
      <attribute name="xml:lang">
        <data type="NMTOKEN"/>
      </attribute>
    </optional>
  </define>
  <!-- RUBY ATTRIBUTES -->
  <!-- Attributes for the <ruby> element -->
  <define name="ruby-atts">
    <ref name="jats-common-atts"/>
    <optional>
      <attribute name="content-type"/>
    </optional>
    <optional>
      <attribute name="specific-use"/>
    </optional>
  </define>
  <!-- SANS SERIF ATTRIBUTES -->
  <!-- Attributes for the <sans-serif> element -->
  <define name="sans-serif-atts">
    <ref name="jats-common-atts"/>
    <optional>
      <attribute name="toggle">
        <choice>
          <value>yes</value>
          <value>no</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="specific-use"/>
    </optional>
  </define>
  <!-- SMALL CAPS ATTRIBUTES -->
  <!-- Attributes for the <sc> element -->
  <define name="sc-atts">
    <ref name="jats-common-atts"/>
    <optional>
      <attribute name="toggle">
        <choice>
          <value>yes</value>
          <value>no</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="specific-use"/>
    </optional>
  </define>
  <!-- STRIKE THROUGH ATTRIBUTES -->
  <!-- Attributes for the <strike> element -->
  <define name="strike-atts">
    <ref name="jats-common-atts"/>
    <optional>
      <attribute name="toggle">
        <choice>
          <value>yes</value>
          <value>no</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="specific-use"/>
    </optional>
  </define>
  <!-- SUBSCRIPT ATTRIBUTES -->
  <!-- Attributes for the subscript <sub> element -->
  <define name="sub-atts">
    <ref name="jats-common-atts"/>
    <optional>
      <attribute name="arrange">
        <choice>
          <value>stack</value>
          <value>stagger</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="specific-use"/>
    </optional>
  </define>
  <!-- SUPERSCRIPT ATTRIBUTES -->
  <!--
    Attributes for the superscript <sup>
    element
  -->
  <define name="sup-atts">
    <ref name="jats-common-atts"/>
    <optional>
      <attribute name="arrange">
        <choice>
          <value>stack</value>
          <value>stagger</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="specific-use"/>
    </optional>
  </define>
  <!-- UNDERLINE ATTRIBUTES -->
  <!-- Attributes for the <underline> element -->
  <define name="underline-atts">
    <ref name="jats-common-atts"/>
    <optional>
      <attribute name="toggle">
        <choice>
          <value>yes</value>
          <value>no</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="underline-style"/>
    </optional>
    <optional>
      <attribute name="specific-use"/>
    </optional>
  </define>
  <!-- UNDERLINE START ATTRIBUTES -->
  <!--
    Attributes for the <underline-start>
    element
  -->
  <define name="underline-start-atts">
    <ref name="jats-common-atts-id-required"/>
    <optional>
      <attribute name="specific-use"/>
    </optional>
  </define>
  <!-- UNDERLINE END ATTRIBUTES -->
  <!-- Attributes for the <underline-end> element -->
  <define name="underline-end-atts">
    <ref name="jats-common-atts"/>
    <attribute name="rid">
      <data type="IDREF"/>
    </attribute>
    <optional>
      <attribute name="specific-use"/>
    </optional>
  </define>
  <!-- ============================================================= -->
  <!-- APPEARANCE CLASS ELEMENTS -->
  <!-- ============================================================= -->
  <!-- HORIZONTAL RULE -->
  <!--
    Defined to allow the user to specify an
    explicit (non machine-generated) rule.
    Details at:
    http://jats.nlm.nih.gov/archiving/tag-library/1.1/index.html?elem=hr
    http://jats.nlm.nih.gov/publishing/tag-library/1.1/index.html?elem=hr
    http://jats.nlm.nih.gov/articleauthoring/tag-library/1.1/index.html?elem=hr
  -->
  <define name="hr">
    <element name="hr">
      <ref name="hr-attlist"/>
      <empty/>
    </element>
  </define>
  <define name="hr-attlist" combine="interleave">
    <ref name="hr-atts"/>
  </define>
  <!-- ============================================================= -->
  <!-- BREAK CLASS ELEMENTS -->
  <!-- ============================================================= -->
  <!-- LINE BREAK -->
  <!--
    Defined to allow the user to specify an
    explicit (non machine-generated) line break.
    Details at:
    http://jats.nlm.nih.gov/archiving/tag-library/1.1/index.html?elem=break
    http://jats.nlm.nih.gov/publishing/tag-library/1.1/index.html?elem=break
    http://jats.nlm.nih.gov/articleauthoring/tag-library/1.1/index.html?elem=break
  -->
  <define name="break">
    <element name="break">
      <ref name="break-attlist"/>
      <empty/>
    </element>
  </define>
  <define name="break-attlist" combine="interleave">
    <ref name="break-atts"/>
  </define>
  <!-- ============================================================= -->
  <!-- EMPHASIS/RENDITION CLASS ELEMENTS -->
  <!-- ============================================================= -->
  <!-- BOLD -->
  <!--
    Used to mark text that should appear in bold
    face type for print or display
    Details at:
    http://jats.nlm.nih.gov/archiving/tag-library/1.1/index.html?elem=bold
    http://jats.nlm.nih.gov/publishing/tag-library/1.1/index.html?elem=bold
    http://jats.nlm.nih.gov/articleauthoring/tag-library/1.1/index.html?elem=bold
  -->
  <define name="bold">
    <element name="bold">
      <ref name="bold-attlist"/>
      <zeroOrMore>
        <choice>
          <text/>
          <ref name="emphasized-text"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <define name="bold-attlist" combine="interleave">
    <ref name="bold-atts"/>
  </define>
  <!-- FIXED CASE -->
  <!--
    Used to mark text in which the case of the 
    content should not be changed, even if the 
    content around it is styled to all
    upper case or all lower. For example "PhD".
    Details at:
    http://jats.nlm.nih.gov/archiving/tag-library/1.1/index.html?elem=fixed-case
    http://jats.nlm.nih.gov/publishing/tag-library/1.1/index.html?elem=fixed-case
    http://jats.nlm.nih.gov/articleauthoring/tag-library/1.1/index.html?elem=fixed-case
  -->
  <define name="fixed-case">
    <element name="fixed-case">
      <ref name="fixed-case-attlist"/>
      <zeroOrMore>
        <choice>
          <text/>
          <ref name="emphasized-text"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <define name="fixed-case-attlist" combine="interleave">
    <ref name="fixed-case-atts"/>
  </define>
  <!-- ITALIC -->
  <!--
    Used to mark text that should appear in
    italic type on output.
    Details at:
    http://jats.nlm.nih.gov/archiving/tag-library/1.1/index.html?elem=italic
    http://jats.nlm.nih.gov/publishing/tag-library/1.1/index.html?elem=italic
    http://jats.nlm.nih.gov/articleauthoring/tag-library/1.1/index.html?elem=italic
  -->
  <define name="italic">
    <element name="italic">
      <ref name="italic-attlist"/>
      <zeroOrMore>
        <choice>
          <text/>
          <ref name="emphasized-text"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <define name="italic-attlist" combine="interleave">
    <ref name="italic-atts"/>
  </define>
  <!-- MONOSPACE TEXT (TYPEWRITER TEXT) -->
  <!--
    Used to mark text that should appear in
    a non-proportional font, such as courier
    for display or print.  This is common for
    computer code examples, man-machine
    dialogues, etc.
    Details at:
    http://jats.nlm.nih.gov/archiving/tag-library/1.1/index.html?elem=monospace
    http://jats.nlm.nih.gov/publishing/tag-library/1.1/index.html?elem=monospace
    http://jats.nlm.nih.gov/articleauthoring/tag-library/1.1/index.html?elem=monospace
  -->
  <define name="monospace">
    <element name="monospace">
      <ref name="monospace-attlist"/>
      <zeroOrMore>
        <choice>
          <text/>
          <ref name="emphasized-text"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <define name="monospace-attlist" combine="interleave">
    <ref name="monospace-atts"/>
  </define>
  <!-- ROMAN -->
  <!--
    Used to mark text that should remain in
    roman script no matter what style the
    surrounding text takes on.
    Details at:
    http://jats.nlm.nih.gov/archiving/tag-library/1.1/index.html?elem=roman
    http://jats.nlm.nih.gov/publishing/tag-library/1.1/index.html?elem=roman
    http://jats.nlm.nih.gov/articleauthoring/tag-library/1.1/index.html?elem=roman
  -->
  <define name="roman">
    <element name="roman">
      <ref name="roman-attlist"/>
      <zeroOrMore>
        <choice>
          <text/>
          <ref name="emphasized-text"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <define name="roman-attlist" combine="interleave">
    <ref name="roman-atts"/>
  </define>
  <!-- SANS SERIF -->
  <!--
    Used to mark text that should appear in a
    special sans-serif font, typically used in
    math or chemistry
    Details at:
    http://jats.nlm.nih.gov/archiving/tag-library/1.1/index.html?elem=sans-serif
    http://jats.nlm.nih.gov/publishing/tag-library/1.1/index.html?elem=sans-serif
  -->
  <define name="sans-serif">
    <element name="sans-serif">
      <ref name="sans-serif-attlist"/>
      <zeroOrMore>
        <choice>
          <text/>
          <ref name="emphasized-text"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <define name="sans-serif-attlist" combine="interleave">
    <ref name="sans-serif-atts"/>
  </define>
  <!-- SMALL CAPS -->
  <!--
    Used to mark text that should appear in a
    font which creates smaller capital letters
    on output.
    Details at:
    http://jats.nlm.nih.gov/archiving/tag-library/1.1/index.html?elem=sc
    http://jats.nlm.nih.gov/publishing/tag-library/1.1/index.html?elem=sc
    http://jats.nlm.nih.gov/articleauthoring/tag-library/1.1/index.html?elem=sc
  -->
  <define name="sc">
    <element name="sc">
      <ref name="sc-attlist"/>
      <zeroOrMore>
        <choice>
          <text/>
          <ref name="emphasized-text"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <define name="sc-attlist" combine="interleave">
    <ref name="sc-atts"/>
  </define>
  <!-- OVERLINE -->
  <!--
    Used to mark text that should appear with a
    horizontal line above each character in
    display or print. There is no PE for
    override because this was added to handle
    a specific publisher tag set and should not
    grow beyond what they need.
    Details at:
    http://jats.nlm.nih.gov/archiving/tag-library/1.1/index.html?elem=overline
    http://jats.nlm.nih.gov/publishing/tag-library/1.1/index.html?elem=overline
    http://jats.nlm.nih.gov/articleauthoring/tag-library/1.1/index.html?elem=overline
  -->
  <define name="overline">
    <element name="overline">
      <ref name="overline-attlist"/>
      <zeroOrMore>
        <choice>
          <text/>
          <ref name="emphasized-text"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <define name="overline-attlist" combine="interleave">
    <ref name="overline-atts"/>
  </define>
  <!-- STRIKE THROUGH -->
  <!--
    Used to mark text that should appear with
    a line through it so as to appear "struck out"
    on display or print
    Details at:
    http://jats.nlm.nih.gov/archiving/tag-library/1.1/index.html?elem=strike
    http://jats.nlm.nih.gov/publishing/tag-library/1.1/index.html?elem=strike
    http://jats.nlm.nih.gov/articleauthoring/tag-library/1.1/index.html?elem=strike
  -->
  <define name="strike">
    <element name="strike">
      <ref name="strike-attlist"/>
      <zeroOrMore>
        <choice>
          <text/>
          <ref name="emphasized-text"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <define name="strike-attlist" combine="interleave">
    <ref name="strike-atts"/>
  </define>
  <!-- SUBSCRIPT -->
  <!--
    A number or expression that is set lower
    than the baseline and slightly smaller,
    to act as an inferior or subscript
    Details at:
    http://jats.nlm.nih.gov/archiving/tag-library/1.1/index.html?elem=sub
    http://jats.nlm.nih.gov/publishing/tag-library/1.1/index.html?elem=sub
    http://jats.nlm.nih.gov/articleauthoring/tag-library/1.1/index.html?elem=sub
  -->
  <define name="sub">
    <element name="sub">
      <ref name="sub-attlist"/>
      <zeroOrMore>
        <choice>
          <text/>
          <ref name="emphasized-text"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <define name="sub-attlist" combine="interleave">
    <ref name="sub-atts"/>
  </define>
  <!-- SUPERSCRIPT -->
  <!--
    A number or expression that is set higher
    than the baseline and slightly smaller,
    to act as a superior or superscript
    Details at:
    http://jats.nlm.nih.gov/archiving/tag-library/1.1/index.html?elem=sup
    http://jats.nlm.nih.gov/publishing/tag-library/1.1/index.html?elem=sup
    http://jats.nlm.nih.gov/articleauthoring/tag-library/1.1/index.html?elem=sup
  -->
  <define name="sup">
    <element name="sup">
      <ref name="sup-attlist"/>
      <zeroOrMore>
        <choice>
          <text/>
          <ref name="emphasized-text"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <define name="sup-attlist" combine="interleave">
    <ref name="sup-atts"/>
  </define>
  <!-- UNDERLINE -->
  <!--
    Used to mark text that should appear with a
    horizontal line below each character in
    display or print.
    Details at:
     http://jats.nlm.nih.gov/archiving/tag-library/1.1/index.html?elem=underline
    http://jats.nlm.nih.gov/publishing/tag-library/1.1/index.html?elem=underline
    http://jats.nlm.nih.gov/articleauthoring/tag-library/1.1/index.html?elem=underline
  -->
  <define name="underline">
    <element name="underline">
      <ref name="underline-attlist"/>
      <zeroOrMore>
        <choice>
          <text/>
          <ref name="emphasized-text"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <define name="underline-attlist" combine="interleave">
    <ref name="underline-atts"/>
  </define>
  <!-- ============================================================= -->
  <!--
    ADVANCED UNDERLINE AND OVERLINE ELEMENTS
    (From the Elsevier DTD, used mostly within
    mathematics, when ordinary MathML underline
    and overline functions are inadequate. The
    elements act as milestone tags marking the
    start and end of over or underlining that
    may extend across element boundaries.)
  -->
  <!-- ============================================================= -->
  <!-- OVERLINE START -->
  <!--
    The start of a milestone-created overline, the
    end of ornament will be marked by an
    Overline End element.
    Details at:
    http://jats.nlm.nih.gov/archiving/tag-library/1.1/index.html?elem=overline-start
  -->
  <define name="overline-start">
    <element name="overline-start">
      <ref name="overline-start-attlist"/>
      <empty/>
    </element>
  </define>
  <define name="overline-start-attlist" combine="interleave">
    <ref name="overline-start-atts"/>
  </define>
  <!-- OVERLINE END -->
  <!--
    The end of a milestone-created overline, the
    start of ornament will be marked by an
    Overline Start element.
    Details at:
    http://jats.nlm.nih.gov/archiving/tag-library/1.1/index.html?elem=overline-end
  -->
  <define name="overline-end">
    <element name="overline-end">
      <ref name="overline-end-attlist"/>
      <empty/>
    </element>
  </define>
  <define name="overline-end-attlist" combine="interleave">
    <ref name="overline-end-atts"/>
  </define>
  <!-- UNDERLINE START -->
  <!--
    The start of a milestone-created underline,
    the end of ornament will be marked by an
    Underline End element
    Details at:
    http://jats.nlm.nih.gov/archiving/tag-library/1.1/index.html?elem=underline-start
  -->
  <define name="underline-start">
    <element name="underline-start">
      <ref name="underline-start-attlist"/>
      <empty/>
    </element>
  </define>
  <define name="underline-start-attlist" combine="interleave">
    <ref name="underline-start-atts"/>
  </define>
  <!-- UNDERLINE END -->
  <!--
    The end of a milestone-created underline, the
    start of ornament will be marked by an
    Underline Start element.
    Details at:
    http://jats.nlm.nih.gov/archiving/tag-library/1.1/index.html?elem=underline-end
  -->
  <define name="underline-end">
    <element name="underline-end">
      <ref name="underline-end-attlist"/>
      <empty/>
    </element>
  </define>
  <define name="underline-end-attlist" combine="interleave">
    <ref name="underline-end-atts"/>
  </define>
  <!-- ============================================================= -->
  <!-- RUBY MARKUP -->
  <!-- ============================================================= -->
  <!-- RUBY WRAPPER Model -->
  <!-- Content model for the <ruby> element -->
  <!-- RUBY WRAPPER -->
  <!--
    A Ruby textual annotation is an annotation,
    typically short, applied to a letter, word,
    phrase, or name that appears in the narrative
    text. Ruby annotations can indicate,
    for example, pronunciation advice, notes for 
    translation, semantic annotations, et al.
      The <ruby> element is an inline wrapper  
    element that contains some of the document 
    narrative text (inside a Ruby Base <rb> 
    element) and one or more Ruby textual 
    annotations (inside <rt> elements) that are
    associated with the base text.
      In display or print, the characters of the
    Ruby annotation are frequently placed above 
    the characters they modify, in parenthesis 
    after the characters they modify, or to the
    right of vertically set text.
    Details at:
    http://jats.nlm.nih.gov/archiving/tag-library/1.1/index.html?elem=ruby
    http://jats.nlm.nih.gov/publishing/tag-library/1.1/index.html?elem=ruby
    http://jats.nlm.nih.gov/articleauthoring/tag-library/1.1/index.html?elem=ruby
  -->
  <define name="ruby">
    <element name="ruby">
      <ref name="ruby-attlist"/>
      <ref name="ruby-model"/>
    </element>
  </define>
  <define name="ruby-attlist" combine="interleave">
    <ref name="ruby-atts"/>
  </define>
  <!-- RUBY BASE ELEMENTS -->
  <!--
    Those elements that may mix with the data
    characters inside a Ruby Base <rb>.
  -->
  <!-- RUBY BASE -->
  <!--
    The <rb> element is one half of a Ruby 
    Annotation <ruby>, and it contains the 
    narrative text to which a Ruby textual 
    annotation <rt> should be applied.
    Details at:
    http://jats.nlm.nih.gov/archiving/tag-library/1.1/index.html?elem=rb
    http://jats.nlm.nih.gov/publishing/tag-library/1.1/index.html?elem=rb
    http://jats.nlm.nih.gov/articleauthoring/tag-library/1.1/index.html?elem=rb
  -->
  <define name="rb">
    <element name="rb">
      <ref name="rb-attlist"/>
      <zeroOrMore>
        <choice>
          <text/>
          <ref name="rb-elements"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <define name="rb-attlist" combine="interleave">
    <ref name="rb-atts"/>
  </define>
  <!-- RUBY TEXTUAL ANNOTATION ELEMENTS -->
  <!--
    Those elements that may mix with the data
    characters inside a Ruby Textual Annotation
    <rt>.
  -->
  <define name="rt-elements">
    <notAllowed/>
  </define>
  <!-- RUBY TEXTUAL ANNOTATION -->
  <!--
    The <rt> element is one half of a Ruby 
    Annotation <ruby>, and it contains the 
    Ruby textual annotation that is applied to
    the Ruby Base text <rb>.
    Details at:
    Details at:
    http://jats.nlm.nih.gov/archiving/tag-library/1.1/index.html?elem=rt
    http://jats.nlm.nih.gov/publishing/tag-library/1.1/index.html?elem=rt
    http://jats.nlm.nih.gov/articleauthoring/tag-library/1.1/index.html?elem=rt
  -->
  <define name="rt">
    <element name="rt">
      <ref name="rt-attlist"/>
      <zeroOrMore>
        <choice>
          <text/>
          <ref name="rt-elements"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <define name="rt-attlist" combine="interleave">
    <ref name="rt-atts"/>
  </define>
  <!-- RUBY PARENTHESIS -->
  <!--
    The <rp> element is an optional element used
    to provide spacing and a parenthesis to 
    surround Ruby Text <rt>, for older systems 
    that do not handle Ruby properly.
    Remarks. This optional element never holds
    any text except a space, an open 
    parenthesis, or a close parenthesis:
      <ruby><rb>text</rb>
      <rp> (</rp><rt>annotation</rt><rp>) </rp>
      </ruby>
    Details at:
    http://jats.nlm.nih.gov/archiving/tag-library/1.1/index.html?elem=rp
    http://jats.nlm.nih.gov/publishing/tag-library/1.1/index.html?elem=rp
    http://jats.nlm.nih.gov/articleauthoring/tag-library/1.1/index.html?elem=rp
  -->
  <define name="rp">
    <element name="rp">
      <ref name="rp-attlist"/>
      <text/>
    </element>
  </define>
  <define name="rp-attlist" combine="interleave">
    <ref name="rp-atts"/>
  </define>
</grammar>
<!-- ================== End Format Class Module ================== -->
