data/jats/archiving/JATS-default-classes1.ent.rng

<?xml version="1.0" encoding="UTF-8"?>
<!-- ============================================================= -->
<!-- MODULE:    Default Element Classes Module -->
<!-- VERSION:   ANSI/NISO JATS Version 1.1 (Z39.96-2015) -->
<!-- DATE:      December 2015 -->
<!---->
<!-- ============================================================= -->
<!-- ============================================================= -->
<!-- PUBLIC DOCUMENT TYPE DEFINITION -->
<!-- TYPICAL INVOCATION -->
<!--
  "-//NLM//DTD JATS (Z39.96) Default Element Classes Module v1.1 20151215//EN"
  Delivered as file "JATS-default-classes1.ent"
-->
<!-- ============================================================= -->
<!-- ============================================================= -->
<!-- SYSTEM:     JATS DTD Suite -->
<!---->
<!-- PURPOSE:    To declare the Parameter Entities (PEs) used to -->
<!-- define the default element classes. Classes are -->
<!-- OR-groups of elements that are defined together -->
<!-- to be used in mixes and in Element Declarations. -->
<!---->
<!-- Note: Since PEs must be declared before they -->
<!-- are used, this module must be called before all -->
<!-- content modules that declare elements, and after -->
<!-- the class customization module (if any). -->
<!---->
<!-- CONTAINS:   PEs that define the element classes to be used -->
<!-- in the JATS DTD Suite modules. -->
<!---->
<!-- TAG SET SPONSOR -->
<!-- National Center for Biotechnology -->
<!-- Information (NCBI) -->
<!-- National Library of Medicine (NLM) -->
<!---->
<!-- CREATED FOR: -->
<!-- This module was created for the JATS DTD Suite. -->
<!-- Digital archives and publishers may use the -->
<!-- DTD as is for markup of journal literature or -->
<!-- related material for archiving and transferring -->
<!-- such material between archives or create a -->
<!-- custom XML DTD from the Suite for -->
<!-- these purposes. -->
<!---->
<!-- This DTD is in the public domain. An organization -->
<!-- that wishes to create its own DTD from the suite -->
<!-- may do so without permission from NLM. -->
<!---->
<!-- The suite has been set up to be extended using a -->
<!-- new DTD file and a new DTD-specific customization -->
<!-- module to redefine the many Parameter Entities. -->
<!-- Do not modify the suite directly or redistribute -->
<!-- modified versions of the suite. -->
<!---->
<!-- In the interest of maintaining consistency and -->
<!-- clarity for potential users, NLM requests: -->
<!---->
<!-- 1. If you create a DTD from the JATS DTD Suite -->
<!-- and intend to stay compatible with the suite, -->
<!-- then please include the following statement -->
<!-- as a comment in all of your DTD modules: -->
<!-- "Created from, and fully compatible with, -->
<!-- the ANSI/NISO Z39.96 Journal Article Tag -->
<!-- Suite (JATS)." -->
<!---->
<!-- 2. If you alter one or more modules of the suite, -->
<!-- then please rename your version and all its -->
<!-- modules to avoid any confusion with the -->
<!-- original suite. Also, please include the -->
<!-- following statement as a comment in all your -->
<!-- DTD modules: -->
<!-- "Based in part on, but not fully compatible -->
<!-- with, the ANSI/NISO Z39.96 Journal Article -->
<!-- Tag Suite (JATS)." -->
<!---->
<!-- ORIGINAL CREATION DATE: -->
<!-- August 2004 -->
<!---->
<!-- CREATED BY: Mulberry Technologies, Inc. for the NISO Z39.96 -->
<!-- Working Group. Mulberry Technologies was -->
<!-- supported by National Center for Biotechnology -->
<!-- Information (NCBI), a center of the US National -->
<!-- Library of Medicine (NLM). -->
<!---->
<!-- This module is part of the JATS DTD Suite. The -->
<!-- Suite is a continuation of work done by NCBI, -->
<!-- Mulberry Technologies, and Inera, Inc. on the NLM -->
<!--              Journal Archiving and Interchange DTD Suite, which -->
<!-- was originally released in December, 2002. -->
<!---->
<!-- NLM thanks the Harvard University Libraries, both -->
<!-- for proposing that a draft archiving NLM DTD for -->
<!-- life sciences journals be extended to accommodate -->
<!-- journals in all disciplines and for sponsoring -->
<!-- Inera Inc.'s collaboration with other DTD -->
<!-- authors in completing NLM Version 1.0. The -->
<!-- Andrew W. Mellon Foundation provided support for -->
<!-- these important contributions. -->
<!---->
<!-- Suggestions for refinements and enhancements to -->
<!-- this DTD should be sent in email to: -->
<!-- jats@ncbi.nlm.nih.gov -->
<!-- ============================================================= -->
<!-- ============================================================= -->
<!-- DTD VERSION/CHANGE HISTORY -->
<!-- ============================================================= -->
<!--
  Version  Reason/Occasion                   (who) vx.x (yyyy-mm-dd)
       =============================================================
       JATS Version 1.1                (DAL/BTU) v1.1  (2015-12-15)
  
       JATS is a continuing maintenance NISO Standard, which
       requires voting by the ANSI and NISO memberships to be changed. 
       JATS 1.1 was approved in late 2015, so the formal public 
       identifiers were changed in the modules and the catalogs.
       No model or attribute changes were made at this time. 
  
   32. JATS became version "1.1" and "v1.1 20151215"
  
       =============================================================
       JATS Version 1.1d3             (DAL/BTU) v1.1d3  (2015-03-01)
  
       The changes in this release are in response to NISO 
       License and Indicators Recommended Practice.
  
       NISO JATS is a continuing maintenance NISO Standard, which 
       requires voting by the NISO membership to be changed. This
       Committee Draft 1.1d3 will be sent to the NISO voting
       membership, to become (if approved) NISO JATS 1.1.
  
       This draft DTD represents an interim version of the
       non-normative JATS DTD Suite, as an indication to JATS users
       the decisions that have been made by the JATS Standing
       Committee.
  
   32. ALI (NISO Access and License Indicators)
       - Added <ali:license_ref> to license-p.class, as 
         alternatives inside <license>
       - Created a new class: license.class to hold the new ALI
         element <ali:free_to_read>, as an alternative to
         <license> inside <permissions>. 
  
   31. JATS became version "1.1d3" and "v1.1d3 20150301"
  
       =============================================================
       JATS Version 1.1d2              (DAL/BTU) v1.1d2 (2014-09-30)
  
       NISO JATS is a continuing maintenance NISO Standard, which 
       requires voting by the NISO membership to be changed. This
       Committee Draft 1.1d2 will be sent to the NISO voting
       membership, to become (if approved) NISO JATS 1.1.
  
       This catalog represents an interim version of the
       non-normative JATS DTD Suite, as an indication to JATS users
       the decisions that have been made by the JATS Standing
       Committee.
  
   30. ADDED TO REFERENCES - Added the following elements to 
       %references.class so that it would be allowed inside all 
       citation types, product, et al.
        - conf-acronym
        - data-title (for citing datasets and parts of datasets)
        - version (for data and software, similar to edition)
  
   29. STATEMENT - Added new statement.class, so that statements
       can be recursive.
  
   28. JATS became version "1.1d2" and "v1.1d2 20140930//EN"
  
   27. ADDRESS ELEMENTS IN NEW CLASSES
        - Added 3 new elements: <city>, <state>, <postal-code>
            - address.class
            - address-line.class
          which adds then to: address, addr-line, add, collab, 
          conf-loc, corresp, publisher-loc      
  
       =============================================================
       NISO JATS Version 1.1d1           (DAL/BTU) v1.1 (2013-11-15)
  
       ANSI/NISO Z39.96-2012 (pre-release for V1.0 BITS; Version 1.1d1) 
  
       NISO JATS Standing Committee met and answered the requests and
       suggestions from the NISO request forms.
  
       Details concerning ANSI/NISO Z39.96-2012 JATS-based DTDs,  
       XSDs, RNGs and supporting documentation are available at
             http://jats.nlm.nih.gov/1.0/
  
   26. NEW <era> ELEMENT
       Added <era> to date-parts.class
  
   25. NEW CLASSES
       - def-item.class
       - def-list.class
       - list-item.class
       - ref.class for use in <ref-list>
       - unstructured-kwd-group.class for use in Green
  
   24. NEW CODE ELEMENT- Added <code> to
        - alternatives-display.class
        - block-display.class
        - block-display-noalt.class
        - floats-display.class
        - inside-chem-struct-wrap.class      
        - simple-display.class
        - simple-display-noalt.class
        - simple-intable-display.class
  
   23. INSTITUTION-WRAP ADDED
       Added the element <institution-wrap> to the following classes:
        - address.class
        - address-line.class
        - recipient-name.class
        - references.class
  
   18. RUBY
       - Added <ruby> to emphasis class
       - Added a face-markup class (all the emphasis class except 
           <ruby>) for use inside <ruby>
  
   17. ADDED NEW CLASSES (for new locations for the elements)
       - abstract.class
       - kwd-group.class
       - institution.class
       - institution-wrap.class
  
       =============================================================
       NISO JATS Version 1.0             (DAL/BTU) v1.0 (2012-xx-xx)
  
       ANSI/NISO Z39.96-2012 (Version 1.0) 
  
       Details concerning ANSI/NISO Z39.96-2012 JATS-based DTDs,  
       XSDs, RNGs and supporting documentation are available at
             http://jats.nlm.nih.gov/1.0/
  
   16. CITATION ALTERNATIVES - Added a new element 
       <citation-alternatives> to the citation.class. The element
       will hold, for example, a single citation in multiple
       languages or a single citation tagged as a <mixed-citation>
       complete with punctuation and spacing and also as an
       <element-citation> with all punctuation and spacing removed.
  
   15. CONTRIBUTOR ID CLASS - Created a new class "contrib-id.class"
       to hold identifiers for people such as contributors such
       as <contrib> and <principal-investigator>s. This will hold
       publishers-specific IDs, ORCIDs, and JST and NII identifiers.
  
   14. NESTED KEYWORD CLASS - Created a new class "nested-kwd.class"
       to hold the kinds of keywords that can be used inside
       a nested keyword structure.
  
   13. COLLAB CLASS - Created a new class "collab.class" to hold 
       only the element <collab>, for use in the element
       <collab-alternatives>.
  
   12. COLLABORATION ALTERNATIVES - Added <collab-alternatives> to
       the name.class and -references.class to allow the
       <collab-alternatives> element to occur anywhere <collab> 
       was already used.
  
   11. STANDARDS CLASS - Created a new class "std.class" to hold all
       the elements inside the <std> element within citations.
  
   10. REFERENCES CLASS - Added <issn-l> to the class.
  
    9. NOTHING BUT PARA CLASS - Added a new %nothing-but-para.class;
       to get rid of PE clashes when the entity %just-para.class; needed
       to be expanded to include other elements. The nothing-but
       parameter entity contains <p> and only <p> and should never
       be changed in a customization. The infelicitously-named PE
       %just-para.class; can be modified for a customization to include
       other elements as well.
  
       =============================================================
       Version 0.4                       (DAL/BTU) v0.4 (2011-01-31)
  
       This Tag Set is in the process of becoming a NISO standard.
       The version numbers are starting over from 0.4", as a Trial
       Use Draft, to be made into "Version 1.0" when the Tag Suite 
       becomes a NISO standard. Thus, the version number that would
       have been "NLM Version 3.1 Draft" has become NISO JATS
       "Version 0.4".
  
       Details on NISO Trial Use Draft Version 0.4 are available at
             http://jats.nlm.nih.gov/JATS-0.4.
  
    8. Updated the DTD-version attribute to "0.4" 
  
    7. Updated the public identifier to "v0.4 20110131", 
       modified the formal public identifier to include "JATS (Z39.96)",
       and the filename as delivered to include "JATS" and the
       new version number "0".
             http://jats.nlm.nih.gov/0.4.
  
    6. NEW CLASS FOR just <alt-text> %small-access.class;
       Since not everything needs a <long-desc>
  
    5. ALTERNATIVES - Added <private-char> so that the alternatives
       wrapper may be used to hold alternative characters, some as
       <private-char>, some as <textual-form>, some as <graphic>,
       etc.
  
    4. AFFILIATION ALTERNATIVES - Added the element <aff-alternatives>
       to hold multiple <aff>s that are representations of a single
       affiliation, for example, the name of an institution in two
       languages or two scripts.
        -  contrib-info.class
        -  person-group-info.class
        -  Made a new class %aff-alternatives.class to hold just
           <aff> and <aff-alternatives> NEW PE
  
    3. NAME ALTERNATIVES - Added a new container element to hold
       alternate versions of a person's name, for example:
         -  a Roman alphabet transliteration, the Japanese characters,
            and the Japanese with Ruby annotations or
         -  the full peerage title of a person as well as a name
            that is just surname and given names
         -  a name and a sort version of the name that transliterates
            the diacritics (such as cedillas and umlauts) to the same
            character with no diacritic.
       a. This structure was added to %name.class;
       b. This structure was added to %investigator-name.class;
       c. This structure was added to %recipient-name.class;
       d. This structure was added to %references.class;
  
    2. ROLE - Added <role> to %person-group-info.class; thereby
       adding it to: <person-group> and <sig-block>
  
       =============================================================
       Version 3.0                       (DAL/BTU) v3.0 (2007-10-31)
  
       Version 3.0 is the first non-backward-compatible release.
       In addition to the usual incremental changes, some
       elements and attributes have been renamed and/or remodeled
       to better meet user needs and to increase tag set consistency.
       All module change histories are available through the Tag Suite
       web site at http://dtd.nlm.nih.gov.
  
       Details on version 3.0 are available at
             http://dtd.nlm.nih.gov/3.0.
  
    1. Updated public identifier to "v3.0 20080202//EN"
-->
<!-- ============================================================= -->
<!--
  Details concerning 
  ANSI/NISO Z39.96-2015 JATS-based DTDs, XSDs, 
  RNGs and supporting documentation are available at
        http://jats.nlm.nih.gov/1.1/
-->
<!-- ============================================================= -->
<!-- CLASSES FOR COMMON ELEMENTS (%common.ent;) -->
<!-- ============================================================= -->
<!-- ADDRESS CLASS ELEMENTS -->
<!--
  Potential element components of an address;
  not a proper class
-->
<grammar xmlns="http://relaxng.org/ns/structure/1.0">
  <define name="address.class">
    <choice>
      <ref name="addr-line"/>
      <ref name="city"/>
      <ref name="country"/>
      <ref name="fax"/>
      <ref name="institution"/>
      <ref name="institution-wrap"/>
      <ref name="phone"/>
      <ref name="postal-code"/>
      <ref name="state"/>
    </choice>
  </define>
  <!-- ADDRESS LINE CLASS ELEMENTS -->
  <!--
    Potential element components of an address;
    line not a proper class
  -->
  <define name="address-line.class">
    <choice>
      <ref name="city"/>
      <ref name="country"/>
      <ref name="fax"/>
      <ref name="institution"/>
      <ref name="institution-wrap"/>
      <ref name="phone"/>
      <ref name="postal-code"/>
      <ref name="state"/>
    </choice>
  </define>
  <!-- CITATION CLASS ELEMENTS -->
  <!--
    Reference to an external document, as used
    within, for example, the text of a
    paragraph
  -->
  <!-- CITATION MINUS ALTERNATIVES CLASS ELEMENTS -->
  <!--
    All the citation elements except the
    <citation-alternatives> element.
  -->
  <!-- DEFINITION CLASS ELEMENTS -->
  <!--
    Definitions and other elements to match
    with terms and abbreviations
  -->
  <define name="def.class">
    <ref name="def"/>
  </define>
  <!-- DEGREE CLASS -->
  <!--
    The academic or professional degrees that
    accompany a person's name
  -->
  <define name="degree.class">
    <ref name="degrees"/>
  </define>
  <!-- IDENTIFIER CLASS ELEMENTS -->
  <!--
    DOIs and other identifiers are used by
    publishers at many levels, for example for
    an <abstract> or a <fig>.
  -->
  <define name="id.class">
    <ref name="object-id"/>
  </define>
  <!-- LABEL CLASS -->
  <!--
    The label element, used to hold the number
    or character of a labeled object such as a
    table or footnote
  -->
  <define name="label.class">
    <ref name="label"/>
  </define>
  <!-- NOTE CLASS ELEMENTS -->
  <!--
    A note may appear at the end of an Article
    or at the end of a Table.  For example, a
    typical end-of-article note is a
    "Note in Proof".
  -->
  <define name="note.class">
    <ref name="note"/>
  </define>
  <!-- ============================================================= -->
  <!-- PERSON NAMING ELEMENTS (%common.ent;) -->
  <!-- ============================================================= -->
  <!-- COLLAB CLASS -->
  <!--
    A class to hold the <collab> element, so that
    more than on collaboration can be named 
    inside <collab-alternatives>.
  -->
  <define name="collab.class">
    <ref name="collab"/>
  </define>
  <!-- INVESTIGATOR NAMES CLASS -->
  <!--
    The elements used to name the personal names
    for principal investigators.
  -->
  <define name="investigator-name.class">
    <choice>
      <ref name="name"/>
      <ref name="name-alternatives"/>
      <ref name="string-name"/>
    </choice>
  </define>
  <!-- NAMES ALTERNATIVES CLASS -->
  <!--
    Elements that may contain the name of a
    person. These elements act as alternatives
    inside the <name-alternatives> wrapper, to
    allow multiple versions of one person's name
    to be included. These variants are
    differentiated by attributes: @xml:lang for
    language, region, language variant, etc. and
    @specific-use for indexing names,
    search names, etc.
  -->
  <define name="name-alternatives.class">
    <choice>
      <ref name="name"/>
      <ref name="string-name"/>
    </choice>
  </define>
  <!-- NAMES CLASS -->
  <!--
    The elements used to name the personal names
    for individuals and the collaboration names
    for groups.
  -->
  <define name="name.class">
    <choice>
      <ref name="anonymous"/>
      <ref name="collab"/>
      <ref name="collab-alternatives"/>
      <ref name="name"/>
      <ref name="name-alternatives"/>
      <ref name="string-name"/>
    </choice>
  </define>
  <!-- PERSONAL NAMES CLASS -->
  <!--
    The element components of a person's name,
    for the name of a contributor
  -->
  <define name="person-name.class">
    <choice>
      <ref name="degrees"/>
      <ref name="given-names"/>
      <ref name="prefix"/>
      <ref name="surname"/>
      <ref name="suffix"/>
    </choice>
  </define>
  <!-- STRING NAME CLASS -->
  <!--
    The element <string-name> is most useful
    inside citations, but some tag sets restrict
    its use in metadata. A one-element class.
  -->
  <!-- RECIPIENT NAMES CLASS -->
  <!--
    The elements used to name the personal names
    or corporate names (such as Labs) for
    funded award recipients
  -->
  <define name="recipient-name.class">
    <choice>
      <ref name="name"/>
      <ref name="name-alternatives"/>
      <ref name="institution"/>
      <ref name="institution-wrap"/>
      <ref name="string-name"/>
    </choice>
  </define>
  <!-- ============================================================= -->
  <!-- ARTICLE METADATA CONTRIBUTOR CLASSES; -->
  <!-- ============================================================= -->
  <!-- CONTRIBUTOR CLASS -->
  <!--
    Sometimes only the <contrib> element needs to
    be added to a model. Used mostly in the
    model for <contrib-group>.
  -->
  <define name="contrib.class">
    <ref name="contrib"/>
  </define>
  <!-- CONTRIBUTOR GROUP CLASS -->
  <!--
    Sometimes only the <contrib-group> element
    needs to be added to a model.
  -->
  <define name="contrib-group.class">
    <ref name="contrib-group"/>
  </define>
  <!-- CONTRIBUTOR IDENTIFIER CLASS -->
  <!--
    Names the class to hold unique
    person identifiers, such as an ORCID or
    a trusted publisher identifier.
  -->
  <define name="contrib-id.class">
    <ref name="contrib-id"/>
  </define>
  <!-- CONTRIBUTOR INFORMATION CLASS -->
  <!-- Metadata about a contributor -->
  <!-- CONTRIBUTOR INFORMATION FOR REFERENCES -->
  <!--
    The additions and alternatives to a person's
    name that may be used inside the element
    <person-group>
  -->
  <define name="person-group-info.class">
    <choice>
      <ref name="aff"/>
      <ref name="aff-alternatives"/>
      <ref name="etal"/>
      <ref name="role"/>
    </choice>
  </define>
  <!-- ============================================================= -->
  <!-- ARTICLE METADATA CLASSES %articlemeta.ent; -->
  <!-- ============================================================= -->
  <!-- ABSTRACT CLASS ELEMENTS -->
  <!--
    Potential element components of an address;
    not a proper class
  -->
  <define name="abstract.class">
    <ref name="abstract"/>
  </define>
  <!-- AFFILIATIONS ALTERNATIVES CLASS -->
  <!-- The <aff> and <aff-alternatives> elements only -->
  <define name="aff-alternatives.class">
    <choice>
      <ref name="aff"/>
      <ref name="aff-alternatives"/>
    </choice>
  </define>
  <!-- CONFERENCE CLASS -->
  <!--
    The element components of the description
    of a conference; not a proper class
  -->
  <define name="conference.class">
    <choice>
      <ref name="conf-date"/>
      <ref name="conf-name"/>
      <ref name="conf-num"/>
      <ref name="conf-loc"/>
      <ref name="conf-sponsor"/>
      <ref name="conf-theme"/>
      <ref name="conf-acronym"/>
      <ref name="string-conf"/>
    </choice>
  </define>
  <!-- CORRESPONDING AUTHOR CLASS -->
  <!--
    Elements associated with the corresponding
    author
  -->
  <define name="corresp.class">
    <ref name="corresp"/>
  </define>
  <!-- DATE CLASS ELEMENTS -->
  <!-- Dates and other matters of history -->
  <define name="date.class">
    <choice>
      <ref name="date"/>
      <ref name="string-date"/>
    </choice>
  </define>
  <!-- DATE PARTS CLASS ELEMENTS -->
  <!-- Components of date-style elements -->
  <define name="date-parts.class">
    <choice>
      <ref name="day"/>
      <ref name="era"/>
      <ref name="month"/>
      <ref name="season"/>
      <ref name="year"/>
    </choice>
  </define>
  <!-- INSTITUTION CLASS ELEMENTS -->
  <!--
    To hold an <institution> and its
    identifiers, so you always can use both
    together.
  -->
  <define name="institution.class">
    <choice>
      <ref name="institution"/>
      <ref name="institution-id"/>
    </choice>
  </define>
  <!-- INSTITUTION CLASS ELEMENTS -->
  <!--
    To allow both of the institution elements to 
    be used anywhere one of them might be needed.
  -->
  <define name="institution-wrap.class">
    <choice>
      <ref name="institution"/>
      <ref name="institution-wrap"/>
    </choice>
  </define>
  <!-- JOURNAL IDENTIFIER CLASS ELEMENTS -->
  <!--
    The <journal-id> element and any synonyms.
    Created for use inside <related-article>.
  -->
  <define name="journal-id.class">
    <ref name="journal-id"/>
  </define>
  <!-- KEYWORD CLASS ELEMENTS -->
  <!-- Keywords and any keyword-synonyms -->
  <define name="kwd.class">
    <choice>
      <ref name="kwd"/>
      <ref name="compound-kwd"/>
      <ref name="nested-kwd"/>
    </choice>
  </define>
  <!-- KEYWORD GROUP CLASS ELEMENTS -->
  <!-- The element <kwd-group> for use in models. -->
  <define name="kwd-group.class">
    <ref name="kwd-group"/>
  </define>
  <!-- LICENSE CLASS ELEMENTS -->
  <!--
    The alternatives to <license> that may live
    inside <permissions>.
  -->
  <define name="license.class">
    <choice>
      <ref name="ali.free_to_read"/>
      <ref name="license"/>
    </choice>
  </define>
  <!-- LICENSE PARAGRAPH CLASS ELEMENTS -->
  <!--
    To hold the paragraphs and license
    references that may be inside the element
    <license>.
  -->
  <define name="license-p.class">
    <choice>
      <ref name="ali.license_ref"/>
      <ref name="license-p"/>
    </choice>
  </define>
  <!-- NESTED KEYWORD CLASS ELEMENTS -->
  <!--
    The kinds of keywords that can be used inside
    a nested keyword structure.
  -->
  <define name="nested-kwd.class">
    <choice>
      <ref name="kwd"/>
      <ref name="compound-kwd"/>
    </choice>
  </define>
  <!-- TITLE CLASS -->
  <!--
    Title metadata element that can be used
    to provide article-like metadata about
    other objects, for example a <supplement>
  -->
  <define name="title.class">
    <ref name="title"/>
  </define>
  <!-- UNSTRUCTURED KEYWORD GROUP CLASS -->
  <!--
    The <unstructured-kwd-group> element for use 
    by itself.
  -->
  <define name="unstructured-kwd-group.class">
    <ref name="unstructured-kwd-group"/>
  </define>
  <!-- STRING DATE CLASS -->
  <!-- The <string-date> element for use by itself. -->
  <define name="string-date.class">
    <ref name="string-date"/>
  </define>
  <!-- ============================================================= -->
  <!-- BACK MATTER CLASSES (%backmatter.ent;) -->
  <!-- ============================================================= -->
  <!-- JUST APPENDIX CLASS -->
  <!-- The appendix and only the appendix -->
  <define name="app.class">
    <ref name="app"/>
  </define>
  <!-- BACK MATTER CLASS -->
  <!--
    Ancillary elements, typically used in the
    back matter of an article, section, etc.
  -->
  <define name="back.class">
    <choice>
      <ref name="ack"/>
      <ref name="app-group"/>
      <ref name="bio"/>
      <ref name="fn-group"/>
      <ref name="glossary"/>
      <ref name="ref-list"/>
    </choice>
  </define>
  <!-- FRONT MATTER CLASS -->
  <!--
    Ancillary elements, typically used in the
    front matter of an article, book, etc.  .
  -->
  <define name="front.class">
    <choice>
      <ref name="ack"/>
      <ref name="bio"/>
      <ref name="fn-group"/>
      <ref name="glossary"/>
    </choice>
  </define>
  <!-- FRONT AND BACK CLASS -->
  <!--
    Ancillary elements, typically used in the
    front or back matter of an article
  -->
  <define name="front-back.class">
    <ref name="notes"/>
  </define>
  <!-- SECTION BACK MATTER CLASS -->
  <!--
    Ancillary elements, typically used in the
    back matter of a section, etc.
  -->
  <define name="sec-back.class">
    <choice>
      <ref name="fn-group"/>
      <ref name="glossary"/>
      <ref name="ref-list"/>
    </choice>
  </define>
  <!-- JUST SIGNATURE CLASS -->
  <!--
    The signature and only the signature <sig>
    for use inside <sig-block>s
  -->
  <define name="sig.class">
    <ref name="sig"/>
  </define>
  <!-- ============================================================= -->
  <!-- CLASSES USED IN DISPLAY ELEMENTS -->
  <!-- ============================================================= -->
  <!-- ACCESSIBILITY CLASS ELEMENTS -->
  <!--
    Elements added to make it easier to process
    journal articles in ways that are more
    accessible to people and devices with special
    needs, for example the visually handicapped.
      <alt-text> is a short phrase description of
    an objects, <long-desc> is a more complete
    description of the content or intent of an
    object.
  -->
  <define name="access.class">
    <choice>
      <ref name="alt-text"/>
      <ref name="long-desc"/>
    </choice>
  </define>
  <!-- SMALL ACCESSIBILITY CLASS ELEMENTS -->
  <!--
    Elements added to make it easier to process
    journal articles in ways that are more
    accessible to people and devices with special
    needs, for example the visually handicapped.
      <alt-text> is a short phrase description of
    an objects. This class is for use when
    <long-desc> is just too much.
  -->
  <define name="small-access.class">
    <ref name="alt-text"/>
  </define>
  <!-- CAPTION DISPLAY ELEMENTS -->
  <!-- Basic figure display elements -->
  <define name="caption.class">
    <ref name="caption"/>
  </define>
  <!-- DISPLAY ELEMENT BACK MATTER ELEMENTS -->
  <!--
    Miscellaneous stuff (such as photo credits or
    copyright statement) at the end of a display
    element such as a figure or a boxed text
    element such as a sidebar.
  -->
  <define name="display-back-matter.class">
    <choice>
      <ref name="attrib"/>
      <ref name="permissions"/>
    </choice>
  </define>
  <!-- ============================================================= -->
  <!-- DISPLAY ELEMENTS CLASSES -->
  <!-- ============================================================= -->
  <!-- DISPLAY CLASS ELEMENTS -->
  <!--
    Graphical or other image-related elements.
    The display elements may occur within
    the text of a table cell or paragraph
    although they are typically at the same
    hierarchical level as a paragraph.
  -->
  <define name="block-display.class">
    <choice>
      <ref name="address"/>
      <ref name="alternatives"/>
      <ref name="array"/>
      <ref name="boxed-text"/>
      <ref name="chem-struct-wrap"/>
      <ref name="code"/>
      <ref name="fig"/>
      <ref name="fig-group"/>
      <ref name="graphic"/>
      <ref name="media"/>
      <ref name="preformat"/>
      <ref name="supplementary-material"/>
      <ref name="table-wrap"/>
      <ref name="table-wrap-group"/>
    </choice>
  </define>
  <define name="block-display-noalt.class">
    <choice>
      <ref name="address"/>
      <ref name="array"/>
      <ref name="boxed-text"/>
      <ref name="chem-struct-wrap"/>
      <ref name="code"/>
      <ref name="fig"/>
      <ref name="fig-group"/>
      <ref name="graphic"/>
      <ref name="media"/>
      <ref name="preformat"/>
      <ref name="supplementary-material"/>
      <ref name="table-wrap"/>
      <ref name="table-wrap-group"/>
    </choice>
  </define>
  <!-- FLOATING DISPLAY CLASS ELEMENTS -->
  <!--
    Block display elements that can take the
    position attribute, and thus may be floating
    as opposed to fixed in narrative position in
    an article. Created for use as the content
    of <floats-group>.
  -->
  <define name="floats-display.class">
    <choice>
      <ref name="alternatives"/>
      <ref name="boxed-text"/>
      <ref name="chem-struct-wrap"/>
      <ref name="code"/>
      <ref name="fig"/>
      <ref name="fig-group"/>
      <ref name="graphic"/>
      <ref name="media"/>
      <ref name="preformat"/>
      <ref name="supplementary-material"/>
      <ref name="table-wrap"/>
      <ref name="table-wrap-group"/>
    </choice>
  </define>
  <!-- FIGURE DISPLAY ELEMENTS -->
  <!-- Basic figure display elements -->
  <define name="fig-display.class">
    <ref name="fig"/>
  </define>
  <!-- INLINE DISPLAY CLASS ELEMENTS -->
  <!--
    Non-block display elements that set or
    display inline with the text
  -->
  <define name="inline-display.class">
    <choice>
      <ref name="alternatives"/>
      <ref name="inline-graphic"/>
      <ref name="private-char"/>
    </choice>
  </define>
  <define name="inline-display-noalt.class">
    <choice>
      <ref name="inline-graphic"/>
      <ref name="private-char"/>
    </choice>
  </define>
  <!-- MOST BASIC DISPLAY ELEMENTS -->
  <!--
    Just the few display elements that are
    simple display objects: a picture, a movie,
    a sound file.
  -->
  <define name="just-base-display.class">
    <choice>
      <ref name="alternatives"/>
      <ref name="graphic"/>
      <ref name="media"/>
    </choice>
  </define>
  <define name="just-base-display-noalt.class">
    <choice>
      <ref name="graphic"/>
      <ref name="media"/>
    </choice>
  </define>
  <!-- SIMPLE DISPLAY ELEMENTS -->
  <!--
    The simplest and most basic of the Display
    Class elements, which may be allowed in many
    places, for example, inside other Display
    Class elements or inside the cell of a
    Table
  -->
  <define name="simple-display.class">
    <choice>
      <ref name="alternatives"/>
      <ref name="array"/>
      <ref name="code"/>
      <ref name="graphic"/>
      <ref name="media"/>
      <ref name="preformat"/>
    </choice>
  </define>
  <define name="simple-display-noalt.class">
    <choice>
      <ref name="array"/>
      <ref name="code"/>
      <ref name="graphic"/>
      <ref name="media"/>
      <ref name="preformat"/>
    </choice>
  </define>
  <!-- SIMPLE TABLE DISPLAY ELEMENTS -->
  <!--
    Very similar to the simple-display.class, but
    Table Wrappers <table-wrap> should contain
    <table>s, <oasis:table>s, etc., not
    arrays.
  -->
  <define name="simple-intable-display.class">
    <choice>
      <ref name="alternatives"/>
      <ref name="chem-struct-wrap"/>
      <ref name="code"/>
      <ref name="graphic"/>
      <ref name="media"/>
      <ref name="preformat"/>
    </choice>
  </define>
  <!-- INSIDE CHEMICAL STRUCTURE ELEMENTS -->
  <!--
    Very similar to the simple-display.class, but
    for use inside <chem-struct-wrap>, so it
    can contain both <chem-struct> and
    <textual-form>
  -->
  <define name="inside-chem-struct-wrap.class">
    <choice>
      <ref name="alternatives"/>
      <ref name="chem-struct"/>
      <ref name="code"/>
      <ref name="graphic"/>
      <ref name="media"/>
      <ref name="preformat"/>
      <ref name="textual-form"/>
    </choice>
  </define>
  <!-- ALTERNATIVES DISPLAY CLASS ELEMENTS -->
  <!--
    Display elements that can be alternatives to
    each  other inside an alternatives element.
  -->
  <!-- ============================================================= -->
  <!-- MATH CLASSES (%math.ent;) -->
  <!-- ============================================================= -->
  <!--
    MATHEMATICAL EXPRESSIONS AND FORMULAE
    CLASS ELEMENTS
  -->
  <define name="block-math.class">
    <choice>
      <ref name="disp-formula"/>
      <ref name="disp-formula-group"/>
    </choice>
  </define>
  <!-- CHEMICAL STRUCTURE WRAPPER CLASS -->
  <define name="chem-struct-wrap.class">
    <ref name="chem-struct-wrap"/>
  </define>
  <!--
    INLINE MATHEMATICAL EXPRESSIONS MIX CLASS
    ELEMENTS
  -->
  <define name="inline-math.class">
    <choice>
      <ref name="chem-struct"/>
      <ref name="inline-formula"/>
    </choice>
  </define>
  <!-- MATHEMATICAL EXPRESSIONS CLASS ELEMENTS -->
  <define name="math.class">
    <choice>
      <ref name="tex-math"/>
      <ref name="mml.math"/>
    </choice>
  </define>
  <!-- SIMPLE MATHML CLASS -->
  <!-- ============================================================= -->
  <!-- FORMAT CLASSES (%format.ent;) -->
  <!-- ============================================================= -->
  <!-- APPEARANCE CLASS ELEMENTS -->
  <!--
                        Names those elements (inherited from the
    XHTML table DTD that are only concerned with
    appearance, not with structure or content.
    Use of these elements is to be discouraged.
  -->
  <define name="appearance.class">
    <ref name="hr"/>
  </define>
  <!-- FORCED BREAK FORMATTING CLASS ELEMENTS -->
  <!--
    Element to force a formatting break such as
    a line break
  -->
  <define name="break.class">
    <ref name="break"/>
  </define>
  <!-- EMPHASIS/RENDITION ELEMENTS -->
  <!--
    Elements concerning with marking the location
    of typographical emphasis (highlighting)
    DTD Design Note: There are no emphasis
    elements for <fractur>, <openface> (black
    board), <script>, etc. because this DTD
    recommends the use of the STIX extensions
    to accomplish this, as soon as they are
    available.
  -->
  <define name="emphasis.class">
    <choice>
      <ref name="bold"/>
      <ref name="fixed-case"/>
      <ref name="italic"/>
      <ref name="monospace"/>
      <ref name="overline"/>
      <ref name="overline-start"/>
      <ref name="overline-end"/>
      <ref name="roman"/>
      <ref name="sans-serif"/>
      <ref name="sc"/>
      <ref name="strike"/>
      <ref name="underline"/>
      <ref name="underline-start"/>
      <ref name="underline-end"/>
      <ref name="ruby"/>
    </choice>
  </define>
  <!-- FACE MARKUP ELEMENTS -->
  <!--
    All of the emphasis/rendition elements
    except <ruby>, for use (initially) inside
    <ruby> itself.
  -->
  <define name="face-markup.class">
    <choice>
      <ref name="bold"/>
      <ref name="fixed-case"/>
      <ref name="italic"/>
      <ref name="monospace"/>
      <ref name="overline"/>
      <ref name="overline-start"/>
      <ref name="overline-end"/>
      <ref name="roman"/>
      <ref name="sans-serif"/>
      <ref name="sc"/>
      <ref name="strike"/>
      <ref name="underline"/>
      <ref name="underline-start"/>
      <ref name="underline-end"/>
    </choice>
  </define>
  <!-- UP/DOWN RENDITION ELEMENTS -->
  <define name="subsup.class">
    <choice>
      <ref name="sub"/>
      <ref name="sup"/>
    </choice>
  </define>
  <!-- ============================================================= -->
  <!-- LINK CLASSES (%link.ent;) -->
  <!-- ============================================================= -->
  <!-- ADDRESS LINK CLASS ELEMENTS -->
  <!--
    Link elements that can be used inside
    addresses. This is essentially the three
    generic external links.
    (Note: in earlier releases, this Parameter
    Entity was named %address-elements;,
    although it functioned as a class.)
  -->
  <define name="address-link.class">
    <choice>
      <ref name="email"/>
      <ref name="ext-link"/>
      <ref name="uri"/>
    </choice>
  </define>
  <!-- SIMPLE LINKS/CROSS-REFERENCES CLASS -->
  <!--
    The smaller and simpler linking elements
    that might be inside, for example, a
    Keyword <kwd>
  -->
  <define name="simple-link.class">
    <choice>
      <ref name="fn"/>
      <ref name="target"/>
      <ref name="xref"/>
    </choice>
  </define>
  <!-- CROSS-REFERENCES CLASS -->
  <!-- A class just to hold <xref>. -->
  <!-- ============================================================= -->
  <!-- FOOTNOTE CLASSES (%link.ent;) -->
  <!-- ============================================================= -->
  <!-- FOOTNOTE LINKS CLASS -->
  <!-- Only the most basic, internal links -->
  <define name="fn-link.class">
    <ref name="fn"/>
  </define>
  <!-- FOOTNOTE GROUP CLASS -->
  <!-- Collections of footnotes -->
  <define name="fn-group.class">
    <ref name="fn-group"/>
  </define>
  <!-- ============================================================= -->
  <!-- RELATED-OBJECT CLASSES -->
  <!-- ============================================================= -->
  <!-- JOURNAL ARTICLE LINK CLASS ELEMENTS -->
  <!--
    Links used inside journal articles, to point
    to related material
  -->
  <define name="article-link.class">
    <choice>
      <ref name="inline-supplementary-material"/>
      <ref name="related-article"/>
      <ref name="related-object"/>
    </choice>
  </define>
  <!-- RELATED ARTICLE LINKS CLASS -->
  <!--
    For using <related-article> at the paragraph
    level
  -->
  <define name="related-article.class">
    <choice>
      <ref name="related-article"/>
      <ref name="related-object"/>
    </choice>
  </define>
  <!-- ============================================================= -->
  <!-- LIST CLASSES (%list.ent;) -->
  <!-- ============================================================= -->
  <!-- DEFINITION LIST CLASS ELEMENT -->
  <!--
    Class for the <list-item>, so it may be used
    in OR groups.
  -->
  <define name="def-list.class">
    <ref name="def-list"/>
  </define>
  <!-- DEFINITION LIST ITEM CLASS ELEMENT -->
  <!--
    Class for the <list-item>, so it may be used
    in OR groups.
  -->
  <define name="def-item.class">
    <ref name="def-item"/>
  </define>
  <!-- LIST CLASS ELEMENTS -->
  <!--
    All the types of lists that may occur
    as part of the text, therefore excluding
    Bibliographic Reference Lists <ref-list>
  -->
  <define name="list.class">
    <choice>
      <ref name="def-list"/>
      <ref name="list"/>
    </choice>
  </define>
  <!-- LIST ITEM CLASS ELEMENT -->
  <!--
    Class for the <list-item>, so it may be used
    in OR groups.
  -->
  <define name="list-item.class">
    <ref name="list-item"/>
  </define>
  <!-- ============================================================= -->
  <!-- PARAGRAPH CLASSES (%para.ent;) -->
  <!-- ============================================================= -->
  <!-- REST OF PARAGRAPH CLASS -->
  <!--
    Information for the reader that is at the
    same structural level as a Paragraph.
    Contains all paragraph-level objects that are
    not also used inside tables and excepting
    also the paragraph element itself
  -->
  <!-- IN TABLE PARAGRAPH CLASS -->
  <!--
    The simpler of the paragraph-level elements
    that might be found inside a table cell
  -->
  <define name="intable-para.class">
    <choice>
      <ref name="disp-quote"/>
      <ref name="speech"/>
      <ref name="statement"/>
      <ref name="verse-group"/>
    </choice>
  </define>
  <!-- JUST PARAGRAPH CLASS -->
  <!--
    Set by default to hold the just the Paragraph 
    element, alone. This parameter entity may
    be redefined by a customization to name any
    element(s) that the Tag Set wishes to be
    able to use anywhere within textual elements
    that a paragraph may occur. Such elements
    would also need to be added to the PE
    %block-display.class; and to some individual
    element PEs.
  -->
  <define name="just-para.class">
    <ref name="p"/>
  </define>
  <!-- NOTHING BUT PARAGRAPH CLASS -->
  <!--
    To hold the paragraph element <p>, alone.
    This parameter entity should be left
    untouched by any customization
  -->
  <define name="nothing-but-para.class">
    <ref name="p"/>
  </define>
  <!-- STATEMENT CLASS -->
  <!--
    To hold the paragraph element <statement>, 
    alone.
  -->
  <define name="statement.class">
    <ref name="statement"/>
  </define>
  <!-- ============================================================= -->
  <!-- PHRASE CLASSES (%phrase.ent;) -->
  <!-- ============================================================= -->
  <!-- FUNDING CLASS ELEMENTS -->
  <!--
    Small inline elements, that surround a word
    or phrase in the text to identify pieces of
    funding metadata. where such material is not
    pulled out separately but just mixed into
    text as phrases or sentences within a
    paragraph. These elements may be used to mark,
    for example, the <award-id> (such as a grant
    number or contract number) or the
    <funding-source> such as the sponsoring
    organization or trust that awarded the grant.
  -->
  <define name="funding.class">
    <choice>
      <ref name="award-id"/>
      <ref name="funding-source"/>
      <ref name="open-access"/>
    </choice>
  </define>
  <!-- PHRASE CLASS ELEMENTS -->
  <!--
    Small inline elements, that surround a word
    or phrase in the text because the subject
    (content) should be identified as something
    special or different
  -->
  <define name="phrase.class">
    <choice>
      <ref name="abbrev"/>
      <ref name="milestone-end"/>
      <ref name="milestone-start"/>
      <ref name="named-content"/>
      <ref name="styled-content"/>
    </choice>
  </define>
  <!-- STYLED CONTENT CLASS ELEMENTS -->
  <!--
    The <styled-content> element alone, so it
    can be used in places where emphasis is used.
  -->
  <!-- PHRASE CONTENT CLASS ELEMENTS -->
  <!--
    Small inline elements, that surround a word
    or phrase in the text because the subject
    (content) should be identified as something
    special or different. This class in is
    intended to be a subset of the  Phrase Class,
    for use in restricted situations, such as
    within metadata paragraphs, to record
    publisher-identified semantic or usage
    material.
  -->
  <define name="phrase-content.class">
    <choice>
      <ref name="named-content"/>
      <ref name="styled-content"/>
    </choice>
  </define>
  <!-- PRICE CLASS ELEMENTS -->
  <!--
    Created to hold the <price> element so that
    it can be selectively added to elements,
    initially to <product>.
  -->
  <define name="price.class">
    <ref name="price"/>
  </define>
  <!-- PRODUCT ELEMENTS -->
  <!--
    Created to hold the <product> element so that
    it can be selectively added to elements,
    initially to <note>.
  -->
  <define name="product.class">
    <ref name="product"/>
  </define>
  <!-- ============================================================= -->
  <!-- REFERENCES CLASSES (references.ent) -->
  <!-- ============================================================= -->
  <!-- BIBLIOGRAPHIC REFERENCE (CITATION) CLASS -->
  <!--
    The elements that may be included inside a
    citation (bibliographic reference), either
    in an all-element-content (<element-citation>)
    or in a mixed-content citation
    (<mixed-citation>).
  -->
  <define name="references.class">
    <choice>
      <ref name="annotation"/>
      <ref name="article-title"/>
      <ref name="chapter-title"/>
      <ref name="collab"/>
      <ref name="collab-alternatives"/>
      <ref name="comment"/>
      <ref name="conf-acronym"/>
      <ref name="conf-date"/>
      <ref name="conf-loc"/>
      <ref name="conf-name"/>
      <ref name="conf-sponsor"/>
      <ref name="data-title"/>
      <ref name="date"/>
      <ref name="date-in-citation"/>
      <ref name="day"/>
      <ref name="edition"/>
      <ref name="email"/>
      <ref name="elocation-id"/>
      <ref name="etal"/>
      <ref name="ext-link"/>
      <ref name="fpage"/>
      <ref name="gov"/>
      <ref name="institution"/>
      <ref name="institution-wrap"/>
      <ref name="isbn"/>
      <ref name="issn"/>
      <ref name="issn-l"/>
      <ref name="issue"/>
      <ref name="issue-id"/>
      <ref name="issue-part"/>
      <ref name="issue-title"/>
      <ref name="lpage"/>
      <ref name="month"/>
      <ref name="name"/>
      <ref name="name-alternatives"/>
      <ref name="object-id"/>
      <ref name="page-range"/>
      <ref name="part-title"/>
      <ref name="patent"/>
      <ref name="person-group"/>
      <ref name="pub-id"/>
      <ref name="publisher-loc"/>
      <ref name="publisher-name"/>
      <ref name="role"/>
      <ref name="season"/>
      <ref name="series"/>
      <ref name="size"/>
      <ref name="source"/>
      <ref name="std"/>
      <ref name="string-name"/>
      <ref name="supplement"/>
      <ref name="trans-source"/>
      <ref name="trans-title"/>
      <ref name="uri"/>
      <ref name="version"/>
      <ref name="volume"/>
      <ref name="volume-id"/>
      <ref name="volume-series"/>
      <ref name="year"/>
    </choice>
  </define>
  <!-- JUST REFERENCE-LIST CLASS -->
  <!--
    The reference list and only the reference
    list
  -->
  <define name="ref-list.class">
    <ref name="ref-list"/>
  </define>
  <!-- STANDARDS CLASS -->
  <!--
    The elements that can be used in the mixed
    content model of a <std>, which is a
    cited standard inside a citation:
      source contains the name of the standard
      pub-id contains the standard designator
      date elements name the official date
      std-organization names the standards body
      named-content takes anything else a 
        publisher/archive needs (come in 
        from %rendition-plus.
  -->
  <define name="std.class">
    <choice>
      <ref name="day"/>
      <ref name="month"/>
      <ref name="pub-id"/>
      <ref name="source"/>
      <ref name="std-organization"/>
      <ref name="year"/>
    </choice>
  </define>
  <!-- JUST REFERENCE CLASS -->
  <!-- The element <ref> for use in models. -->
  <define name="ref.class">
    <ref name="ref"/>
  </define>
  <!-- ============================================================= -->
  <!-- SECTION CLASS (%section.ent;) -->
  <!-- ============================================================= -->
  <!-- SECTION CLASS ELEMENTS -->
  <!--
    Information for the reader that is at the
    same structural level as a Section, which is
    a headed structure full of smaller elements
    such as paragraphs.
  -->
  <define name="sec.class">
    <ref name="sec"/>
  </define>
  <!-- ============================================================= -->
  <!-- TABLE MODEL CLASSES -->
  <!-- ============================================================= -->
  <!-- JUST TABLE CLASS -->
  <!--
    To include just a table <table-wrap>
    element
  -->
  <define name="just-table.class">
    <ref name="table-wrap"/>
  </define>
  <!-- TABLE CLASS ELEMENTS -->
  <!--
    Elements that will be used to contain the
    rows and columns inside the Table Wrapper
    element <table-wrap>.  The following elements
    can be set up for inclusion:
      XHTML Table Model    table
  -->
  <!-- TABLE FOOT CLASS -->
  <!--
    Elements to include at the end of a table
    in the table.
  -->
  <define name="table-foot.class">
    <ref name="table-wrap-foot"/>
  </define>
</grammar>
<!-- TABLE BODY CLASS -->
<!--
  To include just a table <table-wrap>
  element
-->
<!-- ================== End Journal Suite Default Classes  ======= -->
