data/jats/archiving/JATS-funding1.ent.rng

<?xml version="1.0" encoding="UTF-8"?>
<!-- ============================================================= -->
<!-- MODULE:    Funding Elements -->
<!-- VERSION:   ANSI/NISO JATS Version 1.1 (Z39.96-2015) -->
<!-- DATE:      December 2015 -->
<!---->
<!-- ============================================================= -->
<!-- ============================================================= -->
<!-- PUBLIC DOCUMENT TYPE DEFINITION -->
<!-- TYPICAL INVOCATION -->
<!--
  "-//NLM//DTD JATS (Z39.96) JATS DTD Suite Funding Elements v1.1 20151215//EN"
       Delivered as file "JATS-funding1.ent"
-->
<!-- ============================================================= -->
<!-- ============================================================= -->
<!-- SYSTEM:     JATS DTD Suite -->
<!---->
<!-- PURPOSE:    Defines the elements which describe funding for -->
<!-- the research reported in a work or the open -->
<!-- access funding for the work -->
<!---->
<!-- TAG SET SPONSOR -->
<!-- National Center for Biotechnology -->
<!-- Information (NCBI) -->
<!-- National Library of Medicine (NLM) -->
<!---->
<!-- CREATED FOR: -->
<!-- This module was created for the JATS DTD Suite. -->
<!-- Digital archives and publishers may use the -->
<!-- DTD as is for markup of journal literature or -->
<!-- related material for archiving and transferring -->
<!-- such material between archives or create a -->
<!-- custom XML DTD from the Suite for -->
<!-- these purposes. -->
<!---->
<!-- This DTD is in the public domain. An organization -->
<!-- that wishes to create its own DTD from the suite -->
<!-- may do so without permission from NLM. -->
<!---->
<!-- The suite has been set up to be extended using a -->
<!-- new DTD file and a new DTD-specific customization -->
<!-- module to redefine the many Parameter Entities. -->
<!-- Do not modify the suite directly or redistribute -->
<!-- modified versions of the suite. -->
<!---->
<!-- In the interest of maintaining consistency and -->
<!-- clarity for potential users, NLM requests: -->
<!---->
<!-- 1. If you create a DTD from the JATS DTD Suite -->
<!-- and intend to stay compatible with the suite, -->
<!-- then please include the following statement -->
<!-- as a comment in all of your DTD modules: -->
<!-- "Created from, and fully compatible with, -->
<!-- the ANSI/NISO Z39.96 Journal Article Tag -->
<!-- Suite (JATS)." -->
<!---->
<!-- 2. If you alter one or more modules of the suite, -->
<!-- then please rename your version and all its -->
<!-- modules to avoid any confusion with the -->
<!-- original suite. Also, please include the -->
<!-- following statement as a comment in all your -->
<!-- DTD modules: -->
<!-- "Based in part on, but not fully compatible -->
<!-- with, the ANSI/NISO Z39.96 Journal Article -->
<!-- Tag Suite (JATS)." -->
<!---->
<!-- ORIGINAL CREATION DATE: -->
<!-- February 2008 -->
<!---->
<!-- CREATED BY: Mulberry Technologies, Inc. for the NISO Z39.96 -->
<!-- Working Group. Mulberry Technologies was -->
<!-- supported by National Center for Biotechnology -->
<!-- Information (NCBI), a center of the US National -->
<!-- Library of Medicine (NLM). -->
<!---->
<!-- The Journal Publishing DTD is built from the -->
<!-- Archiving and Interchange DTD Suite. -->
<!---->
<!-- Suggestions for refinements and enhancements to -->
<!-- this DTD should be sent in email to: -->
<!-- jats@ncbi.nlm.nih.gov -->
<!-- ============================================================= -->
<!-- ============================================================= -->
<!-- DTD VERSION/CHANGE HISTORY -->
<!-- ============================================================= -->
<!--
  Version  Reason/Occasion                   (who) vx.x (yyyy-mm-dd)
       =============================================================
       JATS Version 1.1                (DAL/BTU) v1.1  (2015-12-15)
  
       JATS is a continuing maintenance NISO Standard, which
       requires voting by the ANSI and NISO memberships to be changed. 
       JATS 1.1 was approved in late 2015, so the formal public 
       identifiers were changed in the modules and the catalogs.
       No model or attribute changes were made at this time. 
  
   14. JATS became version "1.1" and "v1.1 20151215"
  
        =============================================================
       JATS Version 1.1d3             (DAL/BTU) v1.1d3  (2015-03-01)
  
       The changes in this release are in response to NISO 
       License and Indicators Recommended Practice.
  
       NISO JATS is a continuing maintenance NISO Standard, which 
       requires voting by the NISO membership to be changed. This
       Committee Draft 1.1d3 will be sent to the NISO voting
       membership, to become (if approved) NISO JATS 1.1.
  
       This draft DTD represents an interim version of the
       non-normative JATS DTD Suite, as an indication to JATS users
       the decisions that have been made by the JATS Standing
       Committee.
  
   13. JATS became version "1.1d3" and "v1.1 20150301//EN"
  
       =============================================================
       JATS Version 1.1d2              (DAL/BTU) v1.1d2 (2014-09-30)
  
       NISO JATS is a continuing maintenance NISO Standard, which 
       requires voting by the NISO membership to be changed. This
       Committee Draft 1.1d2 will be sent to the NISO voting
       membership, to become (if approved) NISO JATS 1.1.
  
       This catalog represents an interim version of the
       non-normative JATS DTD Suite, as an indication to JATS users
       the decisions that have been made by the JATS Standing
       Committee.
  
    12. JATS became version "1.1d2" and "v1.1d2 20140930//EN"
  
       =============================================================
       NISO JATS Version 1.1d1           (DAL/BTU) v1.1 (2013-11-15)
  
       ANSI/NISO Z39.96-2012 (pre-release for V1.0 BITS; Version 1.1d1) 
  
       NISO JATS Standing Committee met and answered the requests and
       suggestions from the NISO request forms.
  
       Details concerning ANSI/NISO Z39.96-2012 JATS-based DTDs,  
       XSDs, RNGs and supporting documentation are available at
             http://jats.nlm.nih.gov/1.0/
  
   11. INSTITUTION WRAP ADDED
       Added the elements <institution-wrap> to the following elements
       through the institution-wrap.class:
        - funding-source
  
   10. GLOBAL ATTRIBUTES - Added the new parameter entity 
           %jats-common-atts;
       to every element in this module. This PE adds (for now) the
       @id attribute and the @xml:base attribute to every element,
       whether metadata or narrative.
       Since the @id in this parameter entity is optional, a second
       parameter entity jats-common-atts-id-required was also added.
       The two are kept in sync with the jats-base-atts parameter 
       entity.
  
       =============================================================
       NISO JATS Version 1.0             (DAL/BTU) v1.0 (2012-xx-xx)
  
       ANSI/NISO Z39.96-2012 (Version 1.0) 
  
       Details concerning ANSI/NISO Z39.96-2012 JATS-based DTDs,  
       XSDs, RNGs and supporting documentation are available at
             http://jats.nlm.nih.gov/1.0/
  
    9. PRINCIPAL-AWARD-RECIPIENT MODEL - Added "contrib-id.class" to 
       the <principal-award-recipient> through 
       principal-award-recipient-elements, to hold identifiers for 
       people, such as publishers-specific IDs, ORCIDs, etc..
  
    8. PRINCIPAL INVESTIGATOR MODEL - Added "contrib-id.class" to 
       the <principal-investigator> through 
       principal-investigator-elements, to hold identifiers for 
       people, such as publishers-specific IDs, ORCIDs, etc..
  
    7. Updated the public identifier to "v1.0 20120330//EN", 
       modified the formal public identifier to include "JATS (Z39.96)",
       and the filename as delivered to include "JATS" and the
       new version number "1".
  
       =============================================================
       Version 0.4                       (DAL/BTU) v0.4 (2011-01-31)
  
       This Tag Set is in the process of becoming a NISO standard.
       The version numbers are starting over from 0.4", as a Trial
       Use Draft, to be made into "Version 1.0" when the Tag Suite 
       becomes a NISO standard. Thus, the version number that would
       have been "NLM Version 3.1 Draft" has become NISO JATS
       "Version 0.4".
  
       Details on NISO Trial Use Draft Version 0.4 are available at
             http://jats.nlm.nih.gov/JATS-0.4.
  
    6. Updated the DTD-version attribute to "0.4" 
  
    5. Updated the public identifier to "v0.4 20110131", 
       modified the formal public identifier to include "JATS (Z39.96)",
       and the filename as delivered to include "JATS" and the
       new version number "0".
             http://jats.nlm.nih.gov/0.4.
  
    4. FUNDING GROUP- Allowed <open-access> to repeat within
       <funding-group>
  
    3. @SPECIFIC-USE and @XML:LANG - Added the @specific-use and
       @xml:lang to the following elements:
  
        - award-group through award-group-atts (both)
        - award-id through award-id-atts (both)
        - funding-group through funding-group-atts (both) NEW PE
        - funding-source through funding-source-atts (both)
        - funding-statement through funding-statement-atts (both)
        - open-access through open-access-atts (both) NEW PE
        - principal-award-recipient through
            principal-award-recipient-atts (both) NEW PE
        - principal-investigator through principal-investigator-atts
            (both) NEW PE
  
    2. OPEN ACCESS MODEL - Changed the model from
           "(p+)"
       to
            "(%just-para.class;+)"
  
       =============================================================
       Version 3.0                       (DAL/BTU) v3.0 (2007-10-31)
  
       Version 3.0 is the first non-backward-compatible release.
       In addition to the usual incremental changes, some
       elements and attributes have been renamed and/or remodeled
       to better meet user needs and to increase tag set consistency.
       All module change histories are available through the Tag Suite
       web site at http://dtd.nlm.nih.gov.
  
       Details on version 3.0 are available at
             http://dtd.nlm.nih.gov/3.0.
  
    1. Updated public identifier to "v3.0 20080202//EN"
-->
<!-- ============================================================= -->
<!--
  Details concerning 
  ANSI/NISO Z39.96-2015 JATS-based DTDs, XSDs, 
  RNGs and supporting documentation are available at
        http://jats.nlm.nih.gov/1.1/
-->
<!-- ============================================================= -->
<!-- PARAMETER ENTITIES FOR ATTRIBUTE LISTS -->
<!-- ============================================================= -->
<!-- AWARD GROUP ATTRIBUTES -->
<!-- Attributes for the <award-group> element -->
<grammar xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <define name="award-group-atts">
    <ref name="jats-common-atts"/>
    <optional>
      <attribute name="rid">
        <data type="IDREFS"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="award-type"/>
    </optional>
    <optional>
      <attribute name="specific-use"/>
    </optional>
    <optional>
      <attribute name="xml:lang">
        <data type="NMTOKEN"/>
      </attribute>
    </optional>
    <ref name="might-link-atts"/>
  </define>
  <!-- AWARD IDENTIFIER ATTRIBUTES -->
  <!-- Attributes for the <award-id> element -->
  <!-- FUNDING GROUP ATTRIBUTES -->
  <!--
    Attributes for the <funding-group>
    element
  -->
  <define name="funding-group-atts">
    <ref name="jats-common-atts"/>
    <optional>
      <attribute name="specific-use"/>
    </optional>
    <optional>
      <attribute name="xml:lang">
        <data type="NMTOKEN"/>
      </attribute>
    </optional>
  </define>
  <!-- FUNDING SOURCE ATTRIBUTES -->
  <!--                     Attributes for the <funding-source> element -->
  <define name="funding-source-atts">
    <ref name="jats-common-atts"/>
    <optional>
      <attribute name="rid">
        <data type="IDREFS"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="source-type"/>
    </optional>
    <optional>
      <attribute name="country"/>
    </optional>
    <optional>
      <attribute name="specific-use"/>
    </optional>
    <optional>
      <attribute name="xml:lang">
        <data type="NMTOKEN"/>
      </attribute>
    </optional>
    <ref name="might-link-atts"/>
  </define>
  <!-- FUNDING STATEMENT ATTRIBUTES -->
  <!--
    Attributes for the <funding-statement>
    element
  -->
  <!-- OPEN ACCESS ATTRIBUTES -->
  <!--
    Attributes for the <open-access>
    element
  -->
  <define name="open-access-atts">
    <ref name="jats-common-atts"/>
    <optional>
      <attribute name="specific-use"/>
    </optional>
    <optional>
      <attribute name="xml:lang">
        <data type="NMTOKEN"/>
      </attribute>
    </optional>
  </define>
  <!-- PRINCIPAL AWARD RECIPIENT ATTRIBUTES -->
  <!--
    Attributes for the <principal-award-recipient>
    element
  -->
  <define name="principal-award-recipient-atts">
    <ref name="jats-common-atts"/>
    <optional>
      <attribute name="specific-use"/>
    </optional>
    <optional>
      <attribute name="xml:lang">
        <data type="NMTOKEN"/>
      </attribute>
    </optional>
  </define>
  <!-- PRINCIPAL INVESTIGATOR ATTRIBUTES -->
  <!--
    Attributes for the <principal-investigator>
    element
  -->
  <define name="principal-investigator-atts">
    <ref name="jats-common-atts"/>
    <optional>
      <attribute name="specific-use"/>
    </optional>
    <optional>
      <attribute name="xml:lang">
        <data type="NMTOKEN"/>
      </attribute>
    </optional>
  </define>
  <!-- ============================================================= -->
  <!-- FUNDING ELEMENTS -->
  <!-- ============================================================= -->
  <!-- FUNDING GROUP MODEL -->
  <!-- Model for the <funding-group> element -->
  <define name="funding-group-model">
    <zeroOrMore>
      <ref name="award-group"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="funding-statement"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="open-access"/>
    </zeroOrMore>
  </define>
  <!-- FUNDING GROUP -->
  <!--
    Container element for information concerning
    grants, contracts, sponsors, or other
    funding for the research reported in the
    work (typically an article), as well as for
    material on the open access funding for the
    work, for example, which model of open access
    funding was used or who paid the open access
    charges.
    Details at:
    http://jats.nlm.nih.gov/archiving/tag-library/1.1/index.html?elem=funding-group
    http://jats.nlm.nih.gov/publishing/tag-library/1.1/index.html?elem=funding-group
    http://jats.nlm.nih.gov/articleauthoring/tag-library/1.1/index.html?elem=funding-group
  -->
  <define name="funding-group">
    <element name="funding-group">
      <ref name="funding-group-attlist"/>
      <ref name="funding-group-model"/>
    </element>
  </define>
  <define name="funding-group-attlist" combine="interleave">
    <ref name="funding-group-atts"/>
  </define>
  <!-- FUNDING STATEMENT ELEMENTS -->
  <!-- Model for the <funding-statement> element -->
  <!-- FUNDING STATEMENT -->
  <!--
    A displayable prose statement that describes
    the funding for the research on which a work
    was based. Such a statement is required, for
    example, by research funded in whole or part
    by the Wellcome Trust. The statement may
    mention (and therefore repeat) the funding
    source, PI, or other funding information.
    Details at:
    http://jats.nlm.nih.gov/archiving/tag-library/1.1/index.html?elem=funding-statement
    http://jats.nlm.nih.gov/publishing/tag-library/1.1/index.html?elem=funding-statement
    http://jats.nlm.nih.gov/articleauthoring/tag-library/1.1/index.html?elem=funding-statement
  -->
  <define name="funding-statement">
    <element name="funding-statement">
      <ref name="funding-statement-attlist"/>
      <zeroOrMore>
        <choice>
          <text/>
          <ref name="funding-statement-elements"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <define name="funding-statement-attlist" combine="interleave">
    <ref name="funding-statement-atts"/>
  </define>
  <!-- OPEN ACCESS MODEL -->
  <!-- Model for the <open-access> element -->
  <define name="open-access-model">
    <oneOrMore>
      <ref name="just-para.class"/>
    </oneOrMore>
  </define>
  <!-- OPEN ACCESS -->
  <!--
    A container element to hold metadata
    concerning the open access provisions that
    apply to a work, for example which model
    of charging was used or who paid the open
    access charges for a journal article.
    Details at:
    http://jats.nlm.nih.gov/archiving/tag-library/1.1/index.html?elem=open-access
    http://jats.nlm.nih.gov/publishing/tag-library/1.1/index.html?elem=open-access
    http://jats.nlm.nih.gov/articleauthoring/tag-library/1.1/index.html?elem=open-access
  -->
  <define name="open-access">
    <element name="open-access">
      <ref name="open-access-attlist"/>
      <ref name="open-access-model"/>
    </element>
  </define>
  <define name="open-access-attlist" combine="interleave">
    <ref name="open-access-atts"/>
  </define>
  <!-- ============================================================= -->
  <!-- AWARD GROUP ELEMENTS -->
  <!-- ============================================================= -->
  <!-- AWARD GROUP MODEL -->
  <!-- Model for the <award-group> element -->
  <define name="award-group-model">
    <zeroOrMore>
      <ref name="funding-source"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="award-id"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="principal-award-recipient"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="principal-investigator"/>
    </zeroOrMore>
  </define>
  <!-- AWARD GROUP -->
  <!--
    Container element for information concerning
    one award that sponsored a work or the
    research on which the work was based. There
    may be more than source of funding, a grant
    or contract number, PI, etc.
    Details at:
    http://jats.nlm.nih.gov/archiving/tag-library/1.1/index.html?elem=award-group
    http://jats.nlm.nih.gov/publishing/tag-library/1.1/index.html?elem=award-group
    http://jats.nlm.nih.gov/articleauthoring/tag-library/1.1/index.html?elem=award-group
  -->
  <define name="award-group">
    <element name="award-group">
      <ref name="award-group-attlist"/>
      <ref name="award-group-model"/>
    </element>
  </define>
  <define name="award-group-attlist" combine="interleave">
    <ref name="award-group-atts"/>
  </define>
  <!-- FUNDING SOURCE ELEMENTS -->
  <!-- Model for the <funding-source> element -->
  <define name="funding-source-elements">
    <choice>
      <ref name="simple-text"/>
      <ref name="institution-wrap.class"/>
    </choice>
  </define>
  <!-- FUNDING SOURCE -->
  <!--
    Agency or organization (such as a foundation,
    corporation, or an educational institution)
    that funded the research on which a work was
    based, for example, the Wellcome Trust, NIH,
    HHS, Princeton University, or Alcoa
    sponsoring the research for a journal
    article
    Details at:
    http://jats.nlm.nih.gov/archiving/tag-library/1.1/index.html?elem=funding-source
    http://jats.nlm.nih.gov/publishing/tag-library/1.1/index.html?elem=funding-source
    http://jats.nlm.nih.gov/articleauthoring/tag-library/1.1/index.html?elem=funding-source
  -->
  <define name="funding-source">
    <element name="funding-source">
      <ref name="funding-source-attlist"/>
      <zeroOrMore>
        <choice>
          <text/>
          <ref name="funding-source-elements"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <define name="funding-source-attlist" combine="interleave">
    <ref name="funding-source-atts"/>
  </define>
  <!-- AWARD IDENTIFIER ELEMENTS -->
  <!-- Model for the <award-id> element -->
  <define name="award-id-elements">
    <ref name="simple-text"/>
  </define>
  <!-- AWARD IDENTIFIER -->
  <!--
    An identifier that has been assigned to the
    award, for example, a grant number, a grant
    reference number, or a contract number.
    [Note, this is a real-world identifier not
    an XML ID.]
    Details at:
    http://jats.nlm.nih.gov/archiving/tag-library/1.1/index.html?elem=award-id
    http://jats.nlm.nih.gov/publishing/tag-library/1.1/index.html?elem=award-id
    http://jats.nlm.nih.gov/articleauthoring/tag-library/1.1/index.html?elem=award-id
  -->
  <define name="award-id">
    <element name="award-id">
      <ref name="award-id-attlist"/>
      <zeroOrMore>
        <choice>
          <text/>
          <ref name="award-id-elements"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <define name="award-id-attlist" combine="interleave">
    <ref name="award-id-atts"/>
  </define>
  <!-- PRINCIPAL AWARD RECIPIENT ELEMENTS -->
  <!--
    Model for the <principal-award-recipient>
    element
  -->
  <define name="principal-award-recipient-elements">
    <choice>
      <ref name="contrib-id.class"/>
      <ref name="recipient-name.class"/>
    </choice>
  </define>
  <!-- PRINCIPAL AWARD RECIPIENT -->
  <!--
    The institution or individuals to whom the
    award was given, for example the principal
    grant holder
    Details at:
    http://jats.nlm.nih.gov/archiving/tag-library/1.1/index.html?elem=principal-award-recipient
    http://jats.nlm.nih.gov/publishing/tag-library/1.1/index.html?elem=principal-award-recipient
    http://jats.nlm.nih.gov/articleauthoring/tag-library/1.1/index.html?elem=principal-award-recipient
  -->
  <define name="principal-award-recipient">
    <element name="principal-award-recipient">
      <ref name="principal-award-recipient-attlist"/>
      <zeroOrMore>
        <choice>
          <text/>
          <ref name="principal-award-recipient-elements"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <define name="principal-award-recipient-attlist" combine="interleave">
    <ref name="principal-award-recipient-atts"/>
  </define>
  <!-- PRINCIPAL INVESTIGATOR ELEMENTS -->
  <!--
    Model for the <principal-investigator>
    element
  -->
  <define name="principal-investigator-elements">
    <choice>
      <ref name="contrib-id.class"/>
      <ref name="investigator-name.class"/>
    </choice>
  </define>
  <!-- PRINCIPAL INVESTIGATOR RECIPIENT -->
  <!--
    Individual responsible for the intellectual
    content of the work reported in the article.
    Details at:
    http://jats.nlm.nih.gov/archiving/tag-library/1.1/index.html?elem=principal-investigator
    http://jats.nlm.nih.gov/publishing/tag-library/1.1/index.html?elem=principal-investigator
    http://jats.nlm.nih.gov/articleauthoring/tag-library/1.1/index.html?elem=principal-investigator
  -->
  <define name="principal-investigator">
    <element name="principal-investigator">
      <ref name="principal-investigator-attlist"/>
      <zeroOrMore>
        <choice>
          <text/>
          <ref name="principal-investigator-elements"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <define name="principal-investigator-attlist" combine="interleave">
    <ref name="principal-investigator-atts"/>
  </define>
</grammar>
<!-- ================== End Funding Module ======================= -->
