data/jats/archiving/JATS-link1.ent.rng

<?xml version="1.0" encoding="UTF-8"?>
<!-- ============================================================= -->
<!-- MODULE:    Link Element Classes -->
<!-- VERSION:   ANSI/NISO JATS Version 1.1 (Z39.96-2015) -->
<!-- DATE:      December 2015 -->
<!---->
<!-- ============================================================= -->
<!-- ============================================================= -->
<!-- PUBLIC DOCUMENT TYPE DEFINITION -->
<!-- TYPICAL INVOCATION -->
<!--
  "-//NLM//DTD JATS (Z39.96) JATS DTD Suite Link Class Elements v1.1 20151215//EN"
       Delivered as file "JATS-link1.ent"
-->
<!-- ============================================================= -->
<!-- ============================================================= -->
<!-- SYSTEM:     JATS DTD Suite -->
<!---->
<!-- PURPOSE:    Names all elements in the link class. These are -->
<!-- elements that are links (internal or external) -->
<!-- by definition, such as URLs <uri> and -->
<!-- Cross(X)-references <xref>. -->
<!---->
<!-- TAG SET SPONSOR -->
<!-- National Center for Biotechnology -->
<!-- Information (NCBI) -->
<!-- National Library of Medicine (NLM) -->
<!---->
<!-- CREATED FOR: -->
<!-- This module was created for the JATS DTD Suite. -->
<!-- Digital archives and publishers may use the -->
<!-- DTD as is for markup of journal literature or -->
<!-- related material for archiving and transferring -->
<!-- such material between archives or create a -->
<!-- custom XML DTD from the Suite for -->
<!-- these purposes. -->
<!---->
<!-- This DTD is in the public domain. An organization -->
<!-- that wishes to create its own DTD from the suite -->
<!-- may do so without permission from NLM. -->
<!---->
<!-- The suite has been set up to be extended using a -->
<!-- new DTD file and a new DTD-specific customization -->
<!-- module to redefine the many Parameter Entities. -->
<!-- Do not modify the suite directly or redistribute -->
<!-- modified versions of the suite. -->
<!---->
<!-- In the interest of maintaining consistency and -->
<!-- clarity for potential users, NLM requests: -->
<!---->
<!-- 1. If you create a DTD from the JATS DTD Suite -->
<!-- and intend to stay compatible with the suite, -->
<!-- then please include the following statement -->
<!-- as a comment in all of your DTD modules: -->
<!-- "Created from, and fully compatible with, -->
<!-- the ANSI/NISO Z39.96 Journal Article Tag -->
<!-- Suite (JATS)." -->
<!---->
<!-- 2. If you alter one or more modules of the suite, -->
<!-- then please rename your version and all its -->
<!-- modules to avoid any confusion with the -->
<!-- original suite. Also, please include the -->
<!-- following statement as a comment in all your -->
<!-- DTD modules: -->
<!-- "Based in part on, but not fully compatible -->
<!-- with, the ANSI/NISO Z39.96 Journal Article -->
<!-- Tag Suite (JATS)." -->
<!---->
<!-- ORIGINAL CREATION DATE: -->
<!-- December 2002 -->
<!---->
<!-- CREATED BY: Mulberry Technologies, Inc. for the NISO Z39.96 -->
<!-- Working Group. Mulberry Technologies was -->
<!-- supported by National Center for Biotechnology -->
<!-- Information (NCBI), a center of the US National -->
<!-- Library of Medicine (NLM). -->
<!---->
<!-- This module is part of the JATS DTD Suite. The -->
<!-- Suite is a continuation of work done by NCBI, -->
<!-- Mulberry Technologies, and Inera, Inc. on the NLM -->
<!--              Journal Archiving and Interchange DTD Suite, which -->
<!-- was originally released in December, 2002. -->
<!---->
<!-- NLM thanks the Harvard University Libraries, both -->
<!-- for proposing that a draft archiving NLM DTD for -->
<!-- life sciences journals be extended to accommodate -->
<!-- journals in all disciplines and for sponsoring -->
<!-- Inera Inc.'s collaboration with other DTD -->
<!-- authors in completing NLM Version 1.0. The -->
<!-- Andrew W. Mellon Foundation provided support for -->
<!-- these important contributions. -->
<!---->
<!-- Suggestions for refinements and enhancements to -->
<!-- this DTD should be sent in email to: -->
<!-- jats@ncbi.nlm.nih.gov -->
<!-- ============================================================= -->
<!-- ============================================================= -->
<!-- DTD VERSION/CHANGE HISTORY -->
<!-- ============================================================= -->
<!--
  Version  Reason/Occasion                   (who) vx.x (yyyy-mm-dd) 
        =============================================================
       JATS Version 1.1                (DAL/BTU) v1.1  (2015-12-15)
  
       JATS is a continuing maintenance NISO Standard, which
       requires voting by the ANSI and NISO memberships to be changed. 
       JATS 1.1 was approved in late 2015, so the formal public 
       identifiers were changed in the modules and the catalogs.
       No model or attribute changes were made at this time. 
  
   10. JATS became version "1.1" and "v1.1 20151215"
  
      =============================================================
       JATS Version 1.1d3             (DAL/BTU) v1.1d3  (2015-03-01)
  
       The changes in this release are in response to NISO 
       License and Indicators Recommended Practice.
  
       NISO JATS is a continuing maintenance NISO Standard, which 
       requires voting by the NISO membership to be changed. This
       Committee Draft 1.1d3 will be sent to the NISO voting
       membership, to become (if approved) NISO JATS 1.1.
  
       This draft DTD represents an interim version of the
       non-normative JATS DTD Suite, as an indication to JATS users
       the decisions that have been made by the JATS Standing
       Committee.
  
    9. JATS became version "1.1d3" and "v1.1 20150301//EN"
  
       =============================================================
       JATS Version 1.1d2              (DAL/BTU) v1.1d2 (2014-09-30)
  
       NISO JATS is a continuing maintenance NISO Standard, which 
       requires voting by the NISO membership to be changed. This
       Committee Draft 1.1d2 will be sent to the NISO voting
       membership, to become (if approved) NISO JATS 1.1.
  
       This catalog represents an interim version of the
       non-normative JATS DTD Suite, as an indication to JATS users
       the decisions that have been made by the JATS Standing
       Committee.
  
    8. JATS became version "1.1d2" and "v1.1d2 20140930//EN"
  
    7. REFERENCE TYPES
        - Added "collab"
  
       =============================================================
       NISO JATS Version 1.1d1           (DAL/BTU) v1.1 (2013-11-15)
  
       ANSI/NISO Z39.96-2012 (pre-release for V1.0 BITS; Version 1.1d1) 
  
       NISO JATS Standing Committee met and answered the requests and
       suggestions from the NISO request forms.
  
       Details concerning ANSI/NISO Z39.96-2012 JATS-based DTDs,  
       XSDs, RNGs and supporting documentation are available at
             http://jats.nlm.nih.gov/1.0/
             http://jats.nlm.nih.gov/1.1/
  
    6. GLOBAL ATTRIBUTES - Added the new parameter entity 
           %jats-common-atts;
       to every element in this module. This PE adds (for now) the
       @id attribute and the @xml:base attribute to every element,
       whether metadata or narrative.
       Since the @id in this parameter entity is optional, a second
       parameter entity jats-common-atts-id-required was also added.
       The two are kept in sync with the jats-base-atts parameter 
       entity.
  
       =============================================================
       NISO JATS Version 1.0             (DAL/BTU) v1.0 (2012-xx-xx)
  
       ANSI/NISO Z39.96-2012 (Version 1.0) 
  
       Details concerning ANSI/NISO Z39.96-2012 JATS-based DTDs,  
       XSDs, RNGs and supporting documentation are available at
             http://jats.nlm.nih.gov/1.0/
  
    5. Updated the DTD-version attribute to "1.0" and the formal
       public identifier to the date: "v1.0 20120330//EN".
  
       =============================================================
       Version 0.4                       (DAL/BTU) v0.4 (2011-01-31)
  
       This Tag Set is in the process of becoming a NISO standard.
       The version numbers are starting over from 0.4", as a Trial
       Use Draft, to be made into "Version 1.0" when the Tag Suite 
       becomes a NISO standard. Thus, the version number that would
       have been "NLM Version 3.1 Draft" has become NISO JATS
       "Version 0.4".
  
       Details on NISO Trial Use Draft Version 0.4 are available at
             http://jats.nlm.nih.gov/JATS-0.4.
  
    4. Updated the DTD-version attribute to "0.4" 
  
    3. Updated the public identifier to "v0.4 20110131", 
       modified the formal public identifier to include "JATS (Z39.96)",
       and the filename as delivered to include "JATS" and the
       new version number "0".
  
    2. ACCESSIBILITY - Added @alt to <xref> thru %xref-atts;
  
       =============================================================
       Version 3.0                       (DAL/BTU) v3.0 (2007-10-31)
  
       Version 3.0 is the first non-backward-compatible release.
       In addition to the usual incremental changes, some
       elements and attributes have been renamed and/or remodeled
       to better meet user needs and to increase tag set consistency.
       All module change histories are available through the Tag Suite
       web site at http://dtd.nlm.nih.gov.
  
       Details on version 3.0 are available at
             http://dtd.nlm.nih.gov/3.0.
  
    1. Updated public identifier to "v3.0 20080202//EN"
-->
<!-- ============================================================= -->
<!--
  Details concerning 
  ANSI/NISO Z39.96-2015 JATS-based DTDs, XSDs, 
  RNGs and supporting documentation are available at
        http://jats.nlm.nih.gov/1.1/
-->
<!-- ============================================================= -->
<!-- DEFAULTS FOR ATTRIBUTE VALUES -->
<!-- ============================================================= -->
<!-- DEFAULT TYPE OF CROSS(X)-REFERENCE -->
<!--
  Used to say to what the reference is pointing.
  Values are, for example: Affiliation "aff",
  or Figure "fig".
-->
<grammar xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <define name="ref-types">
    <choice>
      <value>aff</value>
      <value>app</value>
      <value>author-notes</value>
      <value>bibr</value>
      <value>boxed-text</value>
      <value>chem</value>
      <value>collab</value>
      <value>contrib</value>
      <value>corresp</value>
      <value>disp-formula</value>
      <value>fig</value>
      <value>fn</value>
      <value>kwd</value>
      <value>list</value>
      <value>plate</value>
      <value>scheme</value>
      <value>sec</value>
      <value>statement</value>
      <value>supplementary-material</value>
      <value>table</value>
      <value>table-fn</value>
      <value>other</value>
    </choice>
  </define>
  <!-- ============================================================= -->
  <!-- DEFAULTS FOR ATTRIBUTE LISTS -->
  <!-- ============================================================= -->
  <!-- FOOTNOTE ATTRIBUTES -->
  <!-- Attribute list for Footnote element -->
  <define name="fn-atts">
    <ref name="jats-common-atts"/>
    <optional>
      <attribute name="symbol"/>
    </optional>
    <optional>
      <attribute name="fn-type"/>
    </optional>
    <optional>
      <attribute name="specific-use"/>
    </optional>
    <optional>
      <attribute name="xml:lang">
        <data type="NMTOKEN"/>
      </attribute>
    </optional>
  </define>
  <!-- INLINE SUPPLEMENTARY MATERIAL -->
  <!--
    Attribute list for inline supplementary
    material
  -->
  <define name="inline-supplementary-material-atts">
    <ref name="jats-common-atts"/>
    <optional>
      <attribute name="content-type"/>
    </optional>
    <optional>
      <attribute name="mimetype"/>
    </optional>
    <optional>
      <attribute name="mime-subtype"/>
    </optional>
    <optional>
      <attribute name="specific-use"/>
    </optional>
    <optional>
      <attribute name="xml:lang">
        <data type="NMTOKEN"/>
      </attribute>
    </optional>
    <ref name="might-link-atts"/>
  </define>
  <!-- TARGET ATTRIBUTES -->
  <!-- Attribute list for <target> element -->
  <define name="target-atts">
    <ref name="jats-common-atts-id-required"/>
    <optional>
      <attribute name="target-type"/>
    </optional>
    <optional>
      <attribute name="specific-use"/>
    </optional>
    <optional>
      <attribute name="xml:lang">
        <data type="NMTOKEN"/>
      </attribute>
    </optional>
  </define>
  <!-- X(CROSS) REFERENCE ATTRIBUTES -->
  <!-- Attribute list for cross references -->
  <!-- ============================================================= -->
  <!-- INTERNAL LINKS -->
  <!-- ============================================================= -->
  <!-- FOOTNOTE MODEL -->
  <!-- Content model for Footnote <fn> -->
  <define name="fn-model">
    <optional>
      <ref name="label"/>
    </optional>
    <oneOrMore>
      <ref name="just-para.class"/>
    </oneOrMore>
  </define>
  <!-- FOOTNOTE -->
  <!--
    Additional information concerning material in
    a particular location in the text. This
    material is not considered to be part of the
    body of the text, but in addition to or a
    commentary on the body.
    Details at:
    http://jats.nlm.nih.gov/archiving/tag-library/1.1/index.html?elem=fn
    http://jats.nlm.nih.gov/publishing/tag-library/1.1/index.html?elem=fn
    http://jats.nlm.nih.gov/articleauthoring/tag-library/1.1/index.html?elem=fn
  -->
  <define name="fn">
    <element name="fn">
      <ref name="fn-attlist"/>
      <ref name="fn-model"/>
    </element>
  </define>
  <define name="fn-attlist" combine="interleave">
    <ref name="fn-atts"/>
  </define>
  <!-- TARGET ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    a <target>
    Design Note: All inline mixes begin with an
    OR bar, but since %link-elements; is an inline
    mix, the OR bar is already there.
  -->
  <define name="target-elements">
    <ref name="link-elements"/>
  </define>
  <!-- TARGET OF AN INTERNAL LINK -->
  <!--
    May be placed anywhere within textual
    material such as a paragraph to provide a
    location (anchor) to which a cross reference
    can point
    Details at:
    http://jats.nlm.nih.gov/archiving/tag-library/1.1/index.html?elem=target
    http://jats.nlm.nih.gov/publishing/tag-library/1.1/index.html?elem=target
    http://jats.nlm.nih.gov/articleauthoring/tag-library/1.1/index.html?elem=target
  -->
  <define name="target">
    <element name="target">
      <ref name="target-attlist"/>
      <zeroOrMore>
        <choice>
          <text/>
          <ref name="target-elements"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <define name="target-attlist" combine="interleave">
    <ref name="target-atts"/>
  </define>
  <!-- X(CROSS) REFERENCE ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    an <xref>
    Design Note: All inline mixes begin with an
    OR bar, but since %link-elements; is an inline
    mix, the OR bar is already there.
  -->
  <define name="xref-elements">
    <ref name="link-elements"/>
  </define>
  <!-- X(CROSS) REFERENCE -->
  <!--
    Used for any kind of internal article
    referencing. The content of the reference
    (if present) will be displayed as the link.
    This element may be used to point to any
    element that takes an "id" attribute.
    The "ref-type" attribute may be used to name
    the element or type of object to which the
    <xref> is pointing.
    Details at:
    http://jats.nlm.nih.gov/archiving/tag-library/1.1/index.html?elem=xref
    http://jats.nlm.nih.gov/publishing/tag-library/1.1/index.html?elem=xref
    http://jats.nlm.nih.gov/articleauthoring/tag-library/1.1/index.html?elem=xref
  -->
  <define name="xref">
    <element name="xref">
      <ref name="xref-attlist"/>
      <zeroOrMore>
        <choice>
          <text/>
          <ref name="xref-elements"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <define name="xref-attlist" combine="interleave">
    <ref name="xref-atts"/>
  </define>
  <!-- ============================================================= -->
  <!-- EXTERNAL LINKS -->
  <!-- ============================================================= -->
  <!-- INLINE SUPPLEMENTARY MATERIAL ELEMENTS -->
  <!--
    Elements for use in the
    <inline-supplementary-material> element
  -->
  <!-- INLINE SUPPLEMENTARY MATERIAL -->
  <!--
    An in-text link to an external file that
    provides supplementary information for
    the document, for example, an audio clip
    Details at:
    http://jats.nlm.nih.gov/archiving/tag-library/1.1/index.html?elem=inline-supplementary-material
    http://jats.nlm.nih.gov/publishing/tag-library/1.1/index.html?elem=inline-supplementary-material
    http://jats.nlm.nih.gov/articleauthoring/tag-library/1.1/index.html?elem=inline-supplementary-material
  -->
  <define name="inline-supplementary-material">
    <element name="inline-supplementary-material">
      <ref name="inline-supplementary-material-attlist"/>
      <zeroOrMore>
        <choice>
          <text/>
          <ref name="inline-supplementary-material-elements"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <define name="inline-supplementary-material-attlist" combine="interleave">
    <ref name="inline-supplementary-material-atts"/>
  </define>
</grammar>
<!-- ================== End Link Class Module ==================== -->
