data/jats/archiving/JATS-archive-oasis-custom-classes1.ent.rng

<?xml version="1.0" encoding="UTF-8"?>
<!-- ============================================================= -->
<!-- MODULE:    Journal Archiving DTD Customize Classes Module -->
<!-- VERSION:   ANSI/NISO JATS Version 1.1 (Z39.96-2015) -->
<!-- DATE:      December 2015 -->
<!---->
<!-- ============================================================= -->
<!-- ============================================================= -->
<!-- PUBLIC DOCUMENT TYPE DEFINITION -->
<!-- TYPICAL INVOCATION -->
<!--
  "-//NLM//DTD JATS (Z39.96) Journal Archiving and Interchange DTD with OASIS Tables Customize Classes Module v1.1 20151215//EN"
  Delivered as file "JATS-archivecustom-classes1.ent"
-->
<!-- ============================================================= -->
<!-- ============================================================= -->
<!-- SYSTEM:     Journal Archiving and Interchange DTD with -->
<!-- OASIS Tables of the JATS DTD Suite -->
<!---->
<!-- PURPOSE:    To declare the Parameter Entities (PEs) used to -->
<!-- over-ride the JATS DTD Suite default named -->
<!-- element classes. -->
<!---->
<!-- Note: Since PEs must be declared before they -->
<!-- are used, this module must be called before the -->
<!-- content modules that declare elements, and before -->
<!-- the default classes module. -->
<!---->
<!-- TAG SET SPONSOR -->
<!-- National Center for Biotechnology -->
<!-- Information (NCBI) -->
<!-- National Library of Medicine (NLM) -->
<!---->
<!-- CREATED FOR: -->
<!-- This DTD was created from the JATS DTD Suite. -->
<!-- Digital archives and publishers may use the -->
<!-- DTD as is for markup of journal literature or -->
<!-- related material for archiving and transferring -->
<!-- such material between archives or create a -->
<!-- custom XML DTD from the Suite for -->
<!-- these purposes. -->
<!---->
<!-- This DTD is in the public domain. An organization -->
<!-- that wishes to create its own DTD from the suite -->
<!-- may do so without permission from NLM. -->
<!---->
<!-- The suite has been set up to be extended using a -->
<!-- new DTD file and a new DTD-specific customization -->
<!-- module to redefine the many Parameter Entities. -->
<!-- Do not modify the suite directly or redistribute -->
<!-- modified versions of the suite. -->
<!---->
<!-- In the interest of maintaining consistency and -->
<!-- clarity for potential users, NLM requests: -->
<!---->
<!-- 1. If you create a DTD from the JATS DTD Suite -->
<!-- and intend to stay compatible with the suite, -->
<!-- then please include the following statement -->
<!-- as a comment in all of your DTD modules: -->
<!-- "Created from, and fully compatible with, -->
<!-- the ANSI/NISO Z39.96 Journal Article Tag -->
<!-- Suite (JATS)." -->
<!---->
<!-- 2. If you alter one or more modules of the suite, -->
<!-- then please rename your version and all its -->
<!-- modules to avoid any confusion with the -->
<!-- original suite. Also, please include the -->
<!-- following statement as a comment in all your -->
<!-- DTD modules: -->
<!-- "Based in part on, but not fully compatible -->
<!-- with, the ANSI/NISO Z39.96 Journal Article -->
<!-- Tag Suite (JATS)." -->
<!---->
<!-- ORIGINAL CREATION DATE: -->
<!-- August 2004 -->
<!---->
<!-- CREATED BY: Mulberry Technologies, Inc. for the NISO Z39.96 -->
<!-- Working Group. Mulberry Technologies was -->
<!-- supported by National Center for Biotechnology -->
<!-- Information (NCBI), a center of the US National -->
<!-- Library of Medicine (NLM). -->
<!---->
<!-- The Journal Archiving and Interchange DTD is -->
<!-- built from the JATS DTD Suite. -->
<!---->
<!-- Suggestions for refinements and enhancements to -->
<!-- this DTD should be sent in email to: -->
<!-- jats@ncbi.nlm.nih.gov -->
<!-- ============================================================= -->
<!-- ============================================================= -->
<!-- DTD VERSION/CHANGE HISTORY -->
<!-- ============================================================= -->
<!--
  
  Version  Reason/Occasion                   (who) vx.x (yyyy-mm-dd)
      =============================================================
       JATS Version 1.1                (DAL/BTU) v1.1  (2015-12-15)
  
       JATS is a continuing maintenance NISO Standard, which
       requires voting by the ANSI and NISO memberships to be changed. 
       JATS 1.1 was approved in late 2015, so the formal public 
       identifiers were changed in the modules and the catalogs.
       No model or attribute changes were made at this time. 
  
   10. JATS became version "1.1" and "v1.1 20151215"
  
       =============================================================
       JATS Version 1.1d3             (DAL/BTU) v1.1d3  (2015-03-01)
  
       The changes in this release are in response to NISO 
       License and Indicators Recommended Practice.
  
       NISO JATS is a continuing maintenance NISO Standard, which 
       requires voting by the NISO membership to be changed. This
       Committee Draft 1.1d3 will be sent to the NISO voting
       membership, to become (if approved) NISO JATS 1.1.
  
       This draft DTD represents an interim version of the
       non-normative JATS DTD Suite, as an indication to JATS users
       the decisions that have been made by the JATS Standing
       Committee.
  
    9. JATS became version "1.1d3" and "v1.1 20150301//EN"
  
       =============================================================
       JATS Version 1.1d2             (DAL/BTU) v1.1d2  (2014-09-30)
  
       NISO JATS is a continuing maintenance NISO Standard, which 
       requires voting by the NISO membership to be changed. This
       Committee Draft 1.1d2 will be sent to the NISO voting
       membership, to become (if approved) NISO JATS 1.1.
  
       This catalog represents an interim version of the
       non-normative JATS DTD Suite, as an indication to JATS users
       the decisions that have been made by the JATS Standing
       Committee.
  
    8. JATS became version "1.1d2" and "v1.1d2 20140930//EN"
  
       =============================================================
       NISO JATS Version 1.0             (DAL/BTU) v1.0 (2012-xx-xx)
  
       ANSI/NISO Z39.96-2012 (Version 1.0) 
  
       Details concerning ANSI/NISO Z39.96-2012 JATS-based DTDs,  
       XSDs, RNGs and supporting documentation are available at
             http://jats.nlm.nih.gov/1.0/
  
    7. NEW CODE ELEMENT- Added <code> to 
        -  alternatives-display.class
  
    6. TABLE CLASSES - Added the classes to make it possible to
       use both the XHTML and the OASIS model.
  
    5. CITATION ALTERNATIVES - Added a new element 
       <citation-alternatives> to the citation.class. The element
       will hold, for example, a single citation in multiple
       languages or a single citation tagged as a <mixed-citation>
       complete with punctuation and spacing and also as an
       <element-citation> with all punctuation and spacing removed.
  
       =============================================================
       Version 0.4                       (DAL/BTU) v0.4 (2011-01-31)
  
       This Tag Set is in the process of becoming a NISO standard.
       The version numbers are starting over from 0.4", as a Trial
       Use Draft, to be made into "Version 1.0" when the Tag Suite 
       becomes a NISO standard. Thus, the version number that would
       have been "NLM Version 3.1 Draft" has become NISO JATS
       "Version 0.4".
  
       Details on NISO Trial Use Draft Version 0.4 are available at
             http://jats.nlm.nih.gov/JATS-0.4.
  
    4. Updated the DTD-version attribute to "0.4" 
  
    3. Updated the public identifier to "v0.4 20110131", 
       modified the formal public identifier to include "JATS (Z39.96)",
       and the filename as delivered to include "JATS" and the
       new version number "0". Also included the phrase 
       "(OASIS Tables)" in the formal name.
  
    2. AFFILIATION ALTERNATIVES - Added the element <aff-alternatives>
       to contrib-info.class to hold multiple <aff>s that are
       representations of a single affiliation, for example, the name
       of an institution in two languages or two scripts.
  
       =============================================================
       Version 3.0                       (DAL/BTU) v3.0 (2007-10-31)
  
       Version 3.0 is the first non-backward-compatible release.
       In addition to the usual incremental changes, some
       elements and attributes have been renamed and/or remodeled
       to better meet user needs and to increase tag set consistency.
       All module change histories are available through the Tag Suite
       web site at http://dtd.nlm.nih.gov.
  
       Details on version 3.0 are available at
             http://dtd.nlm.nih.gov/3.0.
  
    1. Updated public identifier to "v3.0 20080202//EN"
-->
<!-- ============================================================= -->
<!--
  Details concerning 
  ANSI/NISO Z39.96-2015 JATS-based DTDs, XSDs, 
  RNGs and supporting documentation are available at
        http://jats.nlm.nih.gov/1.1/
-->
<!-- ============================================================= -->
<!-- METADATA CLASSES (articlemeta.ent) -->
<!-- ============================================================= -->
<!-- CONTRIBUTOR INFORMATION CLASS -->
<!--
  Metadata about a contributor
  Added <fn>
-->
<grammar xmlns="http://relaxng.org/ns/structure/1.0">
  <define name="contrib-info.class">
    <choice>
      <ref name="address"/>
      <ref name="aff"/>
      <ref name="aff-alternatives"/>
      <ref name="author-comment"/>
      <ref name="bio"/>
      <ref name="email"/>
      <ref name="etal"/>
      <ref name="ext-link"/>
      <ref name="fn"/>
      <ref name="on-behalf-of"/>
      <ref name="role"/>
      <ref name="uri"/>
      <ref name="xref"/>
    </choice>
  </define>
  <!-- ============================================================= -->
  <!-- CITATION CLASSES (references.ent) -->
  <!-- ============================================================= -->
  <!-- CITATION CLASS ELEMENTS -->
  <!--
    Reference to an external document, as used
    within, for example, the text of a
    paragraph
  -->
  <define name="citation.class">
    <choice>
      <ref name="citation-alternatives"/>
      <ref name="element-citation"/>
      <ref name="mixed-citation"/>
      <ref name="nlm-citation"/>
    </choice>
  </define>
  <!-- CITATION MINUS ALTERNATIVES CLASS ELEMENTS -->
  <!--
    All the citation elements except the
    <citation-alternatives> element.
  -->
  <define name="citation-minus-alt.class">
    <choice>
      <ref name="element-citation"/>
      <ref name="mixed-citation"/>
      <ref name="nlm-citation"/>
    </choice>
  </define>
  <define name="citation-additions.class">
    <ref name="string-date"/>
  </define>
  <!-- ============================================================= -->
  <!-- PRESENTATION INFO CLASSES -->
  <!-- ============================================================= -->
  <!-- X-GENERATED PUNCTUATION CLASS -->
  <!--
    Class containing a single element that will
    hold generated punctuation or other
    generatable text, for example, the commas or
    semicolons between keywords.
    This textual material element has been
    created:
     - to match existing input DTDs
     - to identify such material, so that it
         can be processed (such as removed)
     - to try to remove look-and-feel material
         from semantic material such as keywords.
  -->
  <define name="x.class">
    <ref name="x"/>
  </define>
  <!-- ============================================================= -->
  <!-- STRUCTURAL ELEMENT CLASSES -->
  <!-- ============================================================= -->
  <!-- REST OF PARAGRAPH CLASS -->
  <!--
    Information for the reader that is at the
    same structural level as a Paragraph.
    Contains all paragraph-level objects that are
    not also used inside tables and excepting
    also the paragraph element itself.
  -->
  <define name="rest-of-para.class">
    <choice>
      <ref name="ack"/>
      <ref name="disp-quote"/>
      <ref name="speech"/>
      <ref name="statement"/>
      <ref name="verse-group"/>
    </choice>
  </define>
  <!-- ============================================================= -->
  <!-- TABLE CLASSES -->
  <!-- ============================================================= -->
  <!-- ALTERNATIVES DISPLAY CLASS ELEMENTS -->
  <!--
    Display elements that can be alternatives to
    each  other inside an alternatives element.
      XHTML Table Model    table
      OASIS CALS Table     oasis:table
  -->
  <define name="alternatives-display.class">
    <choice>
      <ref name="array"/>
      <ref name="chem-struct"/>
      <ref name="code"/>
      <ref name="graphic"/>
      <ref name="inline-graphic"/>
      <ref name="inline-supplementary-material"/>
      <ref name="media"/>
      <ref name="preformat"/>
      <ref name="private-char"/>
      <ref name="supplementary-material"/>
      <ref name="table"/>
      <ref name="oasis.table"/>
      <ref name="textual-form"/>
    </choice>
  </define>
  <!-- TABLE CLASS ELEMENTS -->
  <!--
    Elements that will be used to contain the
    rows and columns inside the Table Wrapper
    element <table-wrap>.  The following 
    elements can be set up for inclusion:
      XHTML Table Model    table
      OASIS CALS Table     oasis:table
  -->
  <define name="table.class">
    <choice>
      <ref name="table"/>
      <ref name="oasis.table"/>
    </choice>
  </define>
  <!-- TABLE BODY CLASS -->
  <!--
    To include just a table body <tbody> 
    element. Both XHTML and OASIS table types.
  -->
  <define name="tbody.class">
    <choice>
      <ref name="tbody"/>
      <ref name="oasis.tbody"/>
    </choice>
  </define>
</grammar>
<!-- ================== End Archiving Classes Customization ====== -->
