data/jats/archiving/JATS-backmatter1.ent.rng

<?xml version="1.0" encoding="UTF-8"?>
<!-- ============================================================= -->
<!-- MODULE:    Back Matter Elements -->
<!-- VERSION:   ANSI/NISO JATS Version 1.1 (Z39.96-2015) -->
<!-- DATE:      December 2015 -->
<!---->
<!-- ============================================================= -->
<!-- ============================================================= -->
<!-- PUBLIC DOCUMENT TYPE DEFINITION -->
<!-- TYPICAL INVOCATION -->
<!--
  "-//NLM//DTD JATS (Z39.96) JATS DTD Suite Back Matter Elements v1.1 20151215//EN"
       Delivered as file "JATS-backmatter1.ent"
-->
<!-- ============================================================= -->
<!-- ============================================================= -->
<!-- SYSTEM:     JATS DTD Suite -->
<!---->
<!-- PURPOSE:    Names elements that are not part of the main -->
<!-- textual flow of a work, but are considered to be -->
<!-- ancillary material. -->
<!---->
<!-- TAG SET SPONSOR -->
<!-- National Center for Biotechnology -->
<!-- Information (NCBI) -->
<!-- National Library of Medicine (NLM) -->
<!---->
<!-- CREATED FOR: -->
<!-- This module was created for the JATS DTD Suite. -->
<!-- Digital archives and publishers may use the -->
<!-- DTD as is for markup of journal literature or -->
<!-- related material for archiving and transferring -->
<!-- such material between archives or create a -->
<!-- custom XML DTD from the Suite for -->
<!-- these purposes. -->
<!---->
<!-- This DTD is in the public domain. An organization -->
<!-- that wishes to create its own DTD from the suite -->
<!-- may do so without permission from NLM. -->
<!---->
<!-- The suite has been set up to be extended using a -->
<!-- new DTD file and a new DTD-specific customization -->
<!-- module to redefine the many Parameter Entities. -->
<!-- Do not modify the suite directly or redistribute -->
<!-- modified versions of the suite. -->
<!---->
<!-- In the interest of maintaining consistency and -->
<!-- clarity for potential users, NLM requests: -->
<!---->
<!-- 1. If you create a DTD from the JATS DTD Suite -->
<!-- and intend to stay compatible with the suite, -->
<!-- then please include the following statement -->
<!-- as a comment in all of your DTD modules: -->
<!-- "Created from, and fully compatible with, -->
<!-- the ANSI/NISO Z39.96 Journal Article Tag -->
<!-- Suite (JATS)." -->
<!---->
<!-- 2. If you alter one or more modules of the suite, -->
<!-- then please rename your version and all its -->
<!-- modules to avoid any confusion with the -->
<!-- original suite. Also, please include the -->
<!-- following statement as a comment in all your -->
<!-- DTD modules: -->
<!-- "Based in part on, but not fully compatible -->
<!-- with, the ANSI/NISO Z39.96 Journal Article -->
<!-- Tag Suite (JATS)." -->
<!---->
<!-- ORIGINAL CREATION DATE: -->
<!-- December 2002 -->
<!---->
<!-- CREATED BY: Mulberry Technologies, Inc. for the NISO Z39.96 -->
<!-- Working Group. Mulberry Technologies was -->
<!-- supported by National Center for Biotechnology -->
<!-- Information (NCBI), a center of the US National -->
<!-- Library of Medicine (NLM). -->
<!---->
<!-- This module is part of the JATS DTD Suite. The -->
<!-- Suite is a continuation of work done by NCBI, -->
<!-- Mulberry Technologies, and Inera Inc. on the NLM -->
<!--              Journal Archiving and Interchange DTD Suite, which -->
<!-- was originally released in December, 2002. -->
<!---->
<!-- NLM thanks the Harvard University Libraries, both -->
<!-- for proposing that a draft archiving NLM DTD for -->
<!-- life sciences journals be extended to accommodate -->
<!-- journals in all disciplines and for sponsoring -->
<!-- Inera Inc.'s collaboration with other DTD -->
<!-- authors in completing NLM Version 1.0. The -->
<!-- Andrew W. Mellon Foundation provided support for -->
<!-- these important contributions. -->
<!---->
<!-- Suggestions for refinements and enhancements to -->
<!-- this DTD should be sent in email to: -->
<!-- jats@ncbi.nlm.nih.gov -->
<!-- ============================================================= -->
<!-- ============================================================= -->
<!-- DTD VERSION/CHANGE HISTORY -->
<!-- ============================================================= -->
<!--
  Version  Reason/Occasion                   (who) vx.x (yyyy-mm-dd)
       =============================================================
       JATS Version 1.1                (DAL/BTU) v1.1  (2015-12-15)
  
       JATS is a continuing maintenance NISO Standard, which
       requires voting by the ANSI and NISO memberships to be changed. 
       JATS 1.1 was approved in late 2015, so the formal public 
       identifiers were changed in the modules and the catalogs.
       No model or attribute changes were made at this time. 
  
   11. JATS became version "1.1" and "v1.1 20151215"
  
       =============================================================
       JATS Version 1.1d3             (DAL/BTU) v1.1d3  (2015-03-01)
  
       The changes in this release are in response to NISO 
       License and Indicators Recommended Practice.
  
       NISO JATS is a continuing maintenance NISO Standard, which 
       requires voting by the NISO membership to be changed. This
       Committee Draft 1.1d3 will be sent to the NISO voting
       membership, to become (if approved) NISO JATS 1.1.
  
       This draft DTD represents an interim version of the
       non-normative JATS DTD Suite, as an indication to JATS users
       the decisions that have been made by the JATS Standing
       Committee.
  
   10. JATS became version "1.1d3" and "v1.1d3 20150301"
  
       =============================================================
       JATS Version 1.1d2              (DAL/BTU) v1.1d2 (2014-09-30)
  
       NISO JATS is a continuing maintenance NISO Standard, which 
       requires voting by the NISO membership to be changed. This
       Committee Draft 1.1d2 will be sent to the NISO voting
       membership, to become (if approved) NISO JATS 1.1.
  
       This catalog represents an interim version of the
       non-normative JATS DTD Suite, as an indication to JATS users
       the decisions that have been made by the JATS Standing
       Committee.
  
     9. JATS became version "1.1d2" and "v1.1d2 20140930//EN"
  
       =============================================================
       NISO JATS Version 1.1d1           (DAL/BTU) v1.1 (2013-11-15)
  
       ANSI/NISO Z39.96-2012 (pre-release for V1.0 BITS; Version 1.1d1) 
  
       NISO JATS Standing Committee met and answered the requests and
       suggestions from the NISO request forms.
  
       Details concerning ANSI/NISO Z39.96-2012 JATS-based DTDs,  
       XSDs, RNGs and supporting documentation are available at
             http://jats.nlm.nih.gov/1.0/
  
    8. GLOBAL ATTRIBUTES - Added the new parameter entity 
           %jats-common-atts;
       to every element in this module. This PE adds (for now) the
       @id attribute and the @xml:base to every element, whether 
       metadata or narrative.
       Since the @id in this parameter entity is optional, a second
       parameter entity jats-common-atts-id-required was also added.
       The two are kept in sync with the jats-base-atts parameter 
       entity.
  
    7. ABSTRACTS AND KEYWORDS ON NEW STRUCTURES
       - Added <abstract> (through %abstract.class;) and <kwd-group> 
         (through %kwd-group.class;) to the following elements:
          - app (through %sec-model;)
          - app-group (through %app-group-model;)
  
       =============================================================
       NISO JATS Version 1.0             (DAL/BTU) v1.0 (2012-xx-xx)
  
       ANSI/NISO Z39.96-2012 (Version 1.0) 
  
       Details concerning ANSI/NISO Z39.96-2012 JATS-based DTDs,  
       XSDs, RNGs and supporting documentation are available at
             http://jats.nlm.nih.gov/1.0/
  
    6. Updated the DTD-version attribute to "1.0" and the formal
       public identifier to the date: "v1.0 20120330//EN".
  
       =============================================================
       Version 0.4                       (DAL/BTU) v0.4 (2011-01-31)
  
       This Tag Set is in the process of becoming a NISO standard.
       The version numbers are starting over from 0.4", as a Trial
       Use Draft, to be made into "Version 1.0" when the Tag Suite 
       becomes a NISO standard. Thus, the version number that would
       have been "NLM Version 3.1 Draft" has become NISO JATS
       "Version 0.4".
  
       Details on NISO Trial Use Draft Version 0.4 are available at
             http://jats.nlm.nih.gov/JATS-0.4.
  
    4. Updated the DTD-version attribute to "0.4" 
  
    3. Updated the public identifier to "v0.4 20110131", 
       modified the formal public identifier to include "JATS (Z39.96)",
       and the filename as delivered to include "JATS" and the
       new version number "0".
             http://jats.nlm.nih.gov/0.4.
  
    2. @XML:LANG - Added @xml:lang to the following elements:
        - app through app-atts
        - app-group through app-group-atts
        - fn-group through fn-group-atts
        - glossary through glossary-atts
  
       =============================================================
       Version 3.0                       (DAL/BTU) v3.0 (2007-10-31)
  
       Version 3.0 is the first non-backward-compatible release.
       In addition to the usual incremental changes, some
       elements and attributes have been renamed and/or remodeled
       to better meet user needs and to increase tag set consistency.
       All module change histories are available through the Tag Suite
       web site at http://dtd.nlm.nih.gov.
  
       Details on version 3.0 are available at
             http://dtd.nlm.nih.gov/3.0.
  
    1. Updated public identifier to "v3.0 20080202//EN"
-->
<!-- ============================================================= -->
<!--
  Details concerning 
  ANSI/NISO Z39.96-2015 JATS-based DTDs, XSDs, 
  RNGs and supporting documentation are available at
        http://jats.nlm.nih.gov/1.1/
-->
<!-- ============================================================= -->
<!-- BACKMATTER ELEMENTS -->
<!-- ============================================================= -->
<!-- ELEM   bio          Defined in %common.ent; -->
<!-- ELEM   ref-list     Defined in %references.ent; -->
<!-- ELEM   sec          Defined in %section.ent; -->
<!-- ELEM   ack          Defined in %common.ent; -->
<!-- ============================================================= -->
<!-- PARAMETER ENTITIES FOR ATTRIBUTE LISTS -->
<!-- ============================================================= -->
<!-- APPENDIX ATTRIBUTES -->
<!-- Attributes for the Appendix <app> element -->
<grammar xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <define name="app-atts">
    <ref name="jats-common-atts"/>
    <optional>
      <attribute name="content-type"/>
    </optional>
    <optional>
      <attribute name="specific-use"/>
    </optional>
    <optional>
      <attribute name="xml:lang">
        <data type="NMTOKEN"/>
      </attribute>
    </optional>
  </define>
  <!-- APPENDIX GROUP ATTRIBUTES -->
  <!--
    Attributes for the Appendix Group <app-group>
    element
  -->
  <define name="app-group-atts">
    <ref name="jats-common-atts"/>
    <optional>
      <attribute name="content-type"/>
    </optional>
    <optional>
      <attribute name="specific-use"/>
    </optional>
    <optional>
      <attribute name="xml:lang">
        <data type="NMTOKEN"/>
      </attribute>
    </optional>
  </define>
  <!-- FOOTNOTE GROUP ATTRIBUTES -->
  <!--
    Attributes for the Footnote Group <fn-group>
    element
  -->
  <define name="fn-group-atts">
    <ref name="jats-common-atts"/>
    <optional>
      <attribute name="content-type"/>
    </optional>
    <optional>
      <attribute name="specific-use"/>
    </optional>
    <optional>
      <attribute name="xml:lang">
        <data type="NMTOKEN"/>
      </attribute>
    </optional>
  </define>
  <!-- GLOSSARY ATTRIBUTES -->
  <!--
    Attributes for the Glossary <glossary>
    element
  -->
  <define name="glossary-atts">
    <ref name="jats-common-atts"/>
    <optional>
      <attribute name="content-type"/>
    </optional>
    <optional>
      <attribute name="specific-use"/>
    </optional>
    <optional>
      <attribute name="xml:lang">
        <data type="NMTOKEN"/>
      </attribute>
    </optional>
  </define>
  <!-- ============================================================= -->
  <!-- APPENDIX ELEMENTS -->
  <!-- ============================================================= -->
  <!-- APPENDIX GROUP MODEL -->
  <!-- Content model for the <app-group> element -->
  <define name="app-group-model">
    <optional>
      <ref name="label"/>
    </optional>
    <optional>
      <ref name="title"/>
    </optional>
    <zeroOrMore>
      <ref name="abstract.class"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="kwd-group.class"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="para-level"/>
    </zeroOrMore>
    <zeroOrMore>
      <choice>
        <ref name="app.class"/>
        <ref name="ref-list.class"/>
      </choice>
    </zeroOrMore>
  </define>
  <!-- APPENDIX GROUP -->
  <!--
    A container element to hold one or more
    Appendices.
    Details at:
    http://jats.nlm.nih.gov/archiving/tag-library/1.1/index.html?elem=app-group
    http://jats.nlm.nih.gov/publishing/tag-library/1.1/index.html?elem=app-group
    http://jats.nlm.nih.gov/articleauthoring/tag-library/1.1/index.html?elem=app-group
  -->
  <define name="app-group">
    <element name="app-group">
      <ref name="app-group-attlist"/>
      <ref name="app-group-model"/>
    </element>
  </define>
  <define name="app-group-attlist" combine="interleave">
    <ref name="app-group-atts"/>
  </define>
  <!-- APPENDIX MODEL -->
  <!-- Content model for the <app> element. -->
  <!-- APPENDIX -->
  <!--
    Details at:
    http://jats.nlm.nih.gov/archiving/tag-library/1.1/index.html?elem=app
    http://jats.nlm.nih.gov/publishing/tag-library/1.1/index.html?elem=app
    http://jats.nlm.nih.gov/articleauthoring/tag-library/1.1/index.html?elem=app
  -->
  <define name="app">
    <element name="app">
      <ref name="app-attlist"/>
      <ref name="app-model"/>
    </element>
  </define>
  <define name="app-attlist" combine="interleave">
    <ref name="app-atts"/>
  </define>
  <!-- ============================================================= -->
  <!-- FOOTNOTE GROUPING ELEMENTS -->
  <!-- ============================================================= -->
  <!-- FOOTNOTE GROUP MODEL -->
  <!-- Content model for the <fn-group> element -->
  <!-- FOOTNOTE GROUP -->
  <!--
    Footnotes in a journal article may be
    scattered throughout the text, at the places
    they occur, or collected in groups at the
    end of structural units.  This element is a
    wrapper tag for such groups of footnotes.
    Details at:
    http://jats.nlm.nih.gov/archiving/tag-library/1.1/index.html?elem=fn-group
    http://jats.nlm.nih.gov/publishing/tag-library/1.1/index.html?elem=fn-group
    http://jats.nlm.nih.gov/articleauthoring/tag-library/1.1/index.html?elem=fn-group
  -->
  <define name="fn-group">
    <element name="fn-group">
      <ref name="fn-group-attlist"/>
      <ref name="fn-group-model"/>
    </element>
  </define>
  <define name="fn-group-attlist" combine="interleave">
    <ref name="fn-group-atts"/>
  </define>
  <!-- ============================================================= -->
  <!-- GLOSSARY -->
  <!-- ============================================================= -->
  <!-- GLOSSARY MODEL -->
  <!-- Content model for the <glossary> element -->
  <define name="glossary-model">
    <optional>
      <ref name="label"/>
    </optional>
    <optional>
      <ref name="title"/>
    </optional>
    <zeroOrMore>
      <ref name="para-level"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="glossary"/>
    </zeroOrMore>
  </define>
  <!-- GLOSSARY ELEMENTS -->
  <!--
    Glossary or list of definitions.  Typically
    the content will be one or more <def-list>s.
    Details at:
    http://jats.nlm.nih.gov/archiving/tag-library/1.1/index.html?elem=glossary
    http://jats.nlm.nih.gov/publishing/tag-library/1.1/index.html?elem=glossary
    http://jats.nlm.nih.gov/articleauthoring/tag-library/1.1/index.html?elem=glossary
  -->
  <define name="glossary">
    <element name="glossary">
      <ref name="glossary-attlist"/>
      <ref name="glossary-model"/>
    </element>
  </define>
  <define name="glossary-attlist" combine="interleave">
    <ref name="glossary-atts"/>
  </define>
</grammar>
<!-- ================== End Back Matter Module =================== -->
