data/jats/archiving/JATS-list1.ent.rng

<?xml version="1.0" encoding="UTF-8"?>
<!-- ============================================================= -->
<!-- MODULE:    List Element Classes -->
<!-- VERSION:   ANSI/NISO JATS Version 1.1 (Z39.96-2015) -->
<!-- DATE:      December 2015 -->
<!---->
<!-- ============================================================= -->
<!-- ============================================================= -->
<!-- PUBLIC DOCUMENT TYPE DEFINITION -->
<!-- TYPICAL INVOCATION -->
<!--
  "-//NLM//DTD JATS (Z39.96) JATS DTD Suite List Class Elements v1.1 20151215//EN"
       Delivered as file "JATS-list1.ent"
-->
<!-- ============================================================= -->
<!-- ============================================================= -->
<!-- SYSTEM:     JATS DTD Suite -->
<!---->
<!-- PURPOSE:    Names all elements in the list class. These are -->
<!-- all lists except the lists of bibliographic -->
<!-- references (citations). Lists are considered -->
<!-- to be composed of items. -->
<!---->
<!-- TAG SET SPONSOR -->
<!-- National Center for Biotechnology -->
<!-- Information (NCBI) -->
<!-- National Library of Medicine (NLM) -->
<!---->
<!-- CREATED FOR: -->
<!-- This module was created for the JATS DTD Suite. -->
<!-- Digital archives and publishers may use the -->
<!-- DTD as is for markup of journal literature or -->
<!-- related material for archiving and transferring -->
<!-- such material between archives or create a -->
<!-- custom XML DTD from the Suite for -->
<!-- these purposes. -->
<!---->
<!-- This DTD is in the public domain. An organization -->
<!-- that wishes to create its own DTD from the suite -->
<!-- may do so without permission from NLM. -->
<!---->
<!-- The suite has been set up to be extended using a -->
<!-- new DTD file and a new DTD-specific customization -->
<!-- module to redefine the many Parameter Entities. -->
<!-- Do not modify the suite directly or redistribute -->
<!-- modified versions of the suite. -->
<!---->
<!-- In the interest of maintaining consistency and -->
<!-- clarity for potential users, NLM requests: -->
<!---->
<!-- 1. If you create a DTD from the JATS DTD Suite -->
<!-- and intend to stay compatible with the suite, -->
<!-- then please include the following statement -->
<!-- as a comment in all of your DTD modules: -->
<!-- "Created from, and fully compatible with, -->
<!-- the ANSI/NISO Z39.96 Journal Article Tag -->
<!-- Suite (JATS)." -->
<!---->
<!-- 2. If you alter one or more modules of the suite, -->
<!-- then please rename your version and all its -->
<!-- modules to avoid any confusion with the -->
<!-- original suite. Also, please include the -->
<!-- following statement as a comment in all your -->
<!-- DTD modules: -->
<!-- "Based in part on, but not fully compatible -->
<!-- with, the ANSI/NISO Z39.96 Journal Article -->
<!-- Tag Suite (JATS)." -->
<!---->
<!-- ORIGINAL CREATION DATE: -->
<!-- December 2002 -->
<!---->
<!-- CREATED BY: Mulberry Technologies, Inc. for the NISO Z39.96 -->
<!-- Working Group. Mulberry Technologies was -->
<!-- supported by National Center for Biotechnology -->
<!-- Information (NCBI), a center of the US National -->
<!-- Library of Medicine (NLM). -->
<!---->
<!-- This module is part of the JATS DTD Suite. The -->
<!-- Suite is a continuation of work done by NCBI, -->
<!-- Mulberry Technologies, and Inera, Inc. on the NLM -->
<!--              Journal Archiving and Interchange DTD Suite, which -->
<!-- was originally released in December, 2002. -->
<!---->
<!-- NLM thanks the Harvard University Libraries, both -->
<!-- for proposing that a draft archiving NLM DTD for -->
<!-- life sciences journals be extended to accommodate -->
<!-- journals in all disciplines and for sponsoring -->
<!-- Inera Inc.'s collaboration with other DTD -->
<!-- authors in completing NLM Version 1.0. The -->
<!-- Andrew W. Mellon Foundation provided support for -->
<!-- these important contributions. -->
<!---->
<!-- Suggestions for refinements and enhancements to -->
<!-- this DTD should be sent in email to: -->
<!-- jats@ncbi.nlm.nih.gov -->
<!-- ============================================================= -->
<!-- ============================================================= -->
<!-- DTD VERSION/CHANGE HISTORY -->
<!-- ============================================================= -->
<!--
  Version  Reason/Occasion                   (who) vx.x (yyyy-mm-dd)
       =============================================================
       JATS Version 1.1                (DAL/BTU) v1.1  (2015-12-15)
  
       JATS is a continuing maintenance NISO Standard, which
       requires voting by the ANSI and NISO memberships to be changed. 
       JATS 1.1 was approved in late 2015, so the formal public 
       identifiers were changed in the modules and the catalogs.
       No model or attribute changes were made at this time. 
  
   12. JATS became version "1.1" and "v1.1 20151215"
  
       =============================================================
       JATS Version 1.1d3             (DAL/BTU) v1.1d3  (2015-03-01)
  
       The changes in this release are in response to NISO 
       License and Indicators Recommended Practice.
  
       NISO JATS is a continuing maintenance NISO Standard, which 
       requires voting by the NISO membership to be changed. This
       Committee Draft 1.1d3 will be sent to the NISO voting
       membership, to become (if approved) NISO JATS 1.1.
  
       This draft DTD represents an interim version of the
       non-normative JATS DTD Suite, as an indication to JATS users
       the decisions that have been made by the JATS Standing
       Committee.
  
   11. JATS became version "1.1d3" and "v1.1 20150301//EN"
  
       =============================================================
       JATS Version 1.1d2              (DAL/BTU) v1.1d2 (2014-09-30)
  
       NISO JATS is a continuing maintenance NISO Standard, which 
       requires voting by the NISO membership to be changed. This
       Committee Draft 1.1d2 will be sent to the NISO voting
       membership, to become (if approved) NISO JATS 1.1.
  
       This catalog represents an interim version of the
       non-normative JATS DTD Suite, as an indication to JATS users
       the decisions that have been made by the JATS Standing
       Committee.
  
   10. TITLE FOR LIST ITEMS
       Added an optional <title> to the beginning of each <list-item>.
  
    9. JATS became version "1.1d2" and "v1.1d2 20140930//EN"
  
  
       =============================================================
       NISO JATS Version 1.1d1           (DAL/BTU) v1.1 (2013-11-15)
  
       ANSI/NISO Z39.96-2012 (pre-release for V1.0 BITS; Version 1.1d1) 
  
       NISO JATS Standing Committee met and answered the requests and
       suggestions from the NISO request forms.
  
       Details concerning ANSI/NISO Z39.96-2012 JATS-based DTDs,  
       XSDs, RNGs and supporting documentation are available at
             http://jats.nlm.nih.gov/1.0/
  
    8. GLOBAL ATTRIBUTES - Added the new parameter entity 
           %jats-common-atts;
       to every element in this module. This PE adds (for now) the
       @id attribute and the @xml:base attribute to every element,
       whether metadata or narrative.
       Since the @id in this parameter entity is optional, a second
       parameter entity jats-common-atts-id-required was also added.
       The two are kept in sync with the jats-base-atts parameter 
       entity.
       This added a new attribute list to:
        - def-head
        - term-head
  
       =============================================================
       NISO JATS Version 1.0             (DAL/BTU) v1.0 (2012-xx-xx)
  
       ANSI/NISO Z39.96-2012 (Version 1.0) 
  
       Details concerning ANSI/NISO Z39.96-2012 JATS-based DTDs,  
       XSDs, RNGs and supporting documentation are available at
             http://jats.nlm.nih.gov/1.0/
  
    7. Updated the DTD-version attribute to "1.0" and the formal
       public identifier to the date: "v1.0 20120330//EN".
  
       =============================================================
       Version 0.4                       (DAL/BTU) v0.4 (2011-01-31)
  
       This Tag Set is in the process of becoming a NISO standard.
       The version numbers are starting over from 0.4", as a Trial
       Use Draft, to be made into "Version 1.0" when the Tag Suite 
       becomes a NISO standard. Thus, the version number that would
       have been "NLM Version 3.1 Draft" has become NISO JATS
       "Version 0.4".
  
       Details on NISO Trial Use Draft Version 0.4 are available at
             http://jats.nlm.nih.gov/JATS-0.4.
  
    6. Updated the DTD-version attribute to "0.4" 
  
    5. Updated the public identifier to "v0.4 20110131", 
       modified the formal public identifier to include "JATS (Z39.96)",
       and the filename as delivered to include "JATS" and the
       new version number "0".
  
    4. @SPECIFIC-USE and @XML:LANG - Added the @specific-use and
       @xml:lang to the following elements:
  
        - def-item through def-item-atts (both)
        - def-list through def-list-atts (@xml:lang-only;
            @specific-use already)
        - list through list-atts (@xml:lang-only; @specific-use already)
        - list-item through list-item-atts (both)
        - term through term-atts (both)
  
    3. DEFINITION LIST HEADS - Removed the dependency in which
       <term-head> and <def-head> both used the parameter entity
       %def-list-head-elements; One uses %term-head-elements; and
       the other uses %def-head-elements; But the
       %def-list-head-elements; was retained for backward
       compatibility.
  
    2. DEF LIST ATTRIBUTES - Removed the dependency whereby <def-list>
       used both %def-list-atts; and %list-atts;. <def-list> now uses
       only %def-list-atts; No documents need change.
       *****Customization Alert: New parameter entity could break some
       customizations. Check your <def-list> attributes.        *****
  
       =============================================================
       Version 3.0                       (DAL/BTU) v3.0 (2007-10-31)
  
       Version 3.0 is the first non-backward-compatible release.
       In addition to the usual incremental changes, some
       elements and attributes have been renamed and/or remodeled
       to better meet user needs and to increase tag set consistency.
       All module change histories are available through the Tag Suite
       web site at http://dtd.nlm.nih.gov.
  
       Details on version 3.0 are available at
             http://dtd.nlm.nih.gov/3.0.
  
    1. Updated public identifier to "v3.0 20080202//EN"
-->
<!-- ============================================================= -->
<!--
  Details concerning 
  ANSI/NISO Z39.96-2015 JATS-based DTDs, XSDs, 
  RNGs and supporting documentation are available at
        http://jats.nlm.nih.gov/1.1/
-->
<!-- ============================================================= -->
<!-- DEFAULT PE FOR ATTRIBUTE LISTS -->
<!-- ============================================================= -->
<!--                     DEFINITION LIST: DEFINITION HEAD ATTRIBUTES -->
<!-- Attributes for the <def-head> element -->
<grammar xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <define name="def-head-atts">
    <ref name="jats-common-atts"/>
  </define>
  <!--                     DEFINITION LIST: DEFINITION ITEM ATTRIBUTES -->
  <!-- Attributes for the <def-item> element -->
  <define name="def-item-atts">
    <ref name="jats-common-atts"/>
    <optional>
      <attribute name="specific-use"/>
    </optional>
    <optional>
      <attribute name="xml:lang">
        <data type="NMTOKEN"/>
      </attribute>
    </optional>
  </define>
  <!-- DEFAULT DEFINITION LIST ATTRIBUTES -->
  <!--
    Default attribute lists to be used for
    Definition (2-part) lists
  -->
  <define name="def-list-atts">
    <ref name="jats-common-atts"/>
    <optional>
      <attribute name="list-type"/>
    </optional>
    <optional>
      <attribute name="prefix-word"/>
    </optional>
    <optional>
      <attribute name="list-content"/>
    </optional>
    <optional>
      <attribute name="continued-from">
        <data type="IDREF"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="specific-use"/>
    </optional>
    <optional>
      <attribute name="xml:lang">
        <data type="NMTOKEN"/>
      </attribute>
    </optional>
  </define>
  <!-- DEFAULT LIST CLASS ATTRIBUTES -->
  <!--
    Default attribute lists to be used for most
    of the types of lists.
  -->
  <define name="list-atts">
    <ref name="jats-common-atts"/>
    <optional>
      <attribute name="list-type"/>
    </optional>
    <optional>
      <attribute name="prefix-word"/>
    </optional>
    <optional>
      <attribute name="list-content"/>
    </optional>
    <optional>
      <attribute name="continued-from">
        <data type="IDREF"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="specific-use"/>
    </optional>
    <optional>
      <attribute name="xml:lang">
        <data type="NMTOKEN"/>
      </attribute>
    </optional>
  </define>
  <!-- DEFAULT LIST ITEM ATTRIBUTES -->
  <!-- Default attribute for list items -->
  <define name="list-item-atts">
    <ref name="jats-common-atts"/>
    <optional>
      <attribute name="specific-use"/>
    </optional>
    <optional>
      <attribute name="xml:lang">
        <data type="NMTOKEN"/>
      </attribute>
    </optional>
  </define>
  <!-- DEFINITION LIST: TERM ATTRIBUTES -->
  <!-- Attributes for the <term> element -->
  <define name="term-atts">
    <ref name="jats-common-atts"/>
    <optional>
      <attribute name="rid">
        <data type="IDREFS"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="specific-use"/>
    </optional>
    <optional>
      <attribute name="xml:lang">
        <data type="NMTOKEN"/>
      </attribute>
    </optional>
  </define>
  <!-- DEFINITION LIST: TERM HEAD ATTRIBUTES -->
  <!-- Attributes for the <term-head> element -->
  <define name="term-head-atts">
    <ref name="jats-common-atts"/>
  </define>
  <!-- ============================================================= -->
  <!-- DEFINITION LIST -->
  <!-- ============================================================= -->
  <!-- DEFINITION LIST MODEL -->
  <!-- Content model for the <def-list> element -->
  <!-- DEFINITION LIST -->
  <!--
    Details at:
    http://jats.nlm.nih.gov/archiving/tag-library/1.1/index.html?elem=def-list
    http://jats.nlm.nih.gov/publishing/tag-library/1.1/index.html?elem=def-list
    http://jats.nlm.nih.gov/articleauthoring/tag-library/1.1/index.html?elem=def-list
  -->
  <define name="def-list">
    <element name="def-list">
      <ref name="def-list-attlist"/>
      <ref name="def-list-model"/>
    </element>
  </define>
  <define name="def-list-attlist" combine="interleave">
    <ref name="def-list-atts"/>
  </define>
  <!-- DEFINITION LIST HEAD ELEMENTS -->
  <!--
    Elements for use in the <def-list> heading
    elements <term-head> and <def-head>.
    Design Note: All inline mixes begin with an
    OR bar, but since %simple-phrase; is an
    inline mix, the OR bar is already there.
  -->
  <define name="def-list-head-elements">
    <ref name="simple-phrase"/>
  </define>
  <!-- DEFINITION LIST TERM HEAD ELEMENTS -->
  <!--                     Elements for use in the <term-head> element -->
  <define name="term-head-elements">
    <ref name="def-list-head-elements"/>
  </define>
  <!-- DEFINITION LIST DEFINITION HEAD ELEMENTS -->
  <!-- Elements for use in the <def-head> element -->
  <define name="def-head-elements">
    <ref name="def-list-head-elements"/>
  </define>
  <!-- DEFINITION LIST: TERM HEAD -->
  <!--
    Title over the first (term) column of a
    two-part list
    Details at:
    http://jats.nlm.nih.gov/archiving/tag-library/1.1/index.html?elem=term-head
    http://jats.nlm.nih.gov/publishing/tag-library/1.1/index.html?elem=term-head
    http://jats.nlm.nih.gov/articleauthoring/tag-library/1.1/index.html?elem=term-head
  -->
  <define name="term-head">
    <element name="term-head">
      <ref name="term-head-attlist"/>
      <zeroOrMore>
        <choice>
          <text/>
          <ref name="term-head-elements"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <define name="term-head-attlist" combine="interleave">
    <ref name="term-head-atts"/>
  </define>
  <!-- DEFINITION LIST: DEFINITION HEAD -->
  <!--
    Title over the second (definition) column
    of a two-part list
    Details at:
    http://jats.nlm.nih.gov/archiving/tag-library/1.1/index.html?elem=def-head
    http://jats.nlm.nih.gov/publishing/tag-library/1.1/index.html?elem=def-head
    http://jats.nlm.nih.gov/articleauthoring/tag-library/1.1/index.html?elem=def-head
  -->
  <define name="def-head">
    <element name="def-head">
      <ref name="def-head-attlist"/>
      <zeroOrMore>
        <choice>
          <text/>
          <ref name="def-head-elements"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <define name="def-head-attlist" combine="interleave">
    <ref name="def-head-atts"/>
  </define>
  <!-- DEFINITION LIST: DEFINITION ITEM MODEL -->
  <!-- The content model of a <def-item> -->
  <!-- DEFINITION LIST: DEFINITION ITEM -->
  <!--
    A term and definition pair inside a
    definition or two-part list
    of a two-part list
    Details at:
    http://jats.nlm.nih.gov/archiving/tag-library/1.1/index.html?elem=def-item
    http://jats.nlm.nih.gov/publishing/tag-library/1.1/index.html?elem=def-item
    http://jats.nlm.nih.gov/articleauthoring/tag-library/1.1/index.html?elem=def-item
  -->
  <define name="def-item">
    <element name="def-item">
      <ref name="def-item-attlist"/>
      <ref name="def-item-model"/>
    </element>
  </define>
  <define name="def-item-attlist" combine="interleave">
    <ref name="def-item-atts"/>
  </define>
  <!-- ELEM   def          Defined in %common.ent; -->
  <!-- DEFINITION LIST: TERM ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    a <term>.
    Design Note: All inline mixes begin with an
    OR bar, but since %simple-phrase; is an
    inline mix, the OR bar is already there.
  -->
  <!-- DEFINITION LIST: TERM -->
  <!--
    The word, phrase, picture, or other noun
    being defined or description that occupies
    the first column of a definition or 2-part
    list and is the subject of the definition or
    description.
    Details at:
    http://jats.nlm.nih.gov/archiving/tag-library/1.1/index.html?elem=term
    http://jats.nlm.nih.gov/publishing/tag-library/1.1/index.html?elem=term
    http://jats.nlm.nih.gov/articleauthoring/tag-library/1.1/index.html?elem=term
  -->
  <define name="term">
    <element name="term">
      <ref name="term-attlist"/>
      <zeroOrMore>
        <choice>
          <text/>
          <ref name="term-elements"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <define name="term-attlist" combine="interleave">
    <ref name="term-atts"/>
  </define>
  <!-- ============================================================= -->
  <!-- LIST ELEMENTS (PARAGRAPH-LEVEL ELEMENTS) -->
  <!-- ============================================================= -->
  <!-- LIST MODEL -->
  <!-- Content model for the <list> element -->
  <!-- LIST -->
  <!--
    Details at:
    http://jats.nlm.nih.gov/archiving/tag-library/1.1/index.html?elem=list
    http://jats.nlm.nih.gov/publishing/tag-library/1.1/index.html?elem=list
    http://jats.nlm.nih.gov/articleauthoring/tag-library/1.1/index.html?elem=list
  -->
  <define name="list">
    <element name="list">
      <ref name="list-attlist"/>
      <ref name="list-model"/>
    </element>
  </define>
  <define name="list-attlist" combine="interleave">
    <ref name="list-atts"/>
  </define>
  <!-- LIST ITEM ELEMENTS -->
  <!-- The content model of a <list-item>. -->
  <define name="list-item-model">
    <optional>
      <ref name="label"/>
    </optional>
    <optional>
      <ref name="title"/>
    </optional>
    <oneOrMore>
      <choice>
        <ref name="just-para.class"/>
        <ref name="list.class"/>
      </choice>
    </oneOrMore>
  </define>
  <!-- LIST ITEM -->
  <!--
    One item in a list
    Details at:
    http://jats.nlm.nih.gov/archiving/tag-library/1.1/index.html?elem=list-item
    http://jats.nlm.nih.gov/publishing/tag-library/1.1/index.html?elem=list-item
    http://jats.nlm.nih.gov/articleauthoring/tag-library/1.1/index.html?elem=list-item
  -->
  <define name="list-item">
    <element name="list-item">
      <ref name="list-item-attlist"/>
      <ref name="list-item-model"/>
    </element>
  </define>
  <define name="list-item-attlist" combine="interleave">
    <ref name="list-item-atts"/>
  </define>
</grammar>
<!-- ================== End List Class Module ==================== -->
